<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{site.ss_charset}}" />
    <meta charset="{{site.ss_charset}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{site.ss_title}}</title>
    <meta name="{{site.ss_title}}" content="">
    <link rel="alternate" href="{{getBaseUrl()}}/rss" type="application/xml" title="Допоможемо ТВ"/>
    <link rel="alternate" href="{{getBaseUrl()}}/rss/NewsCategoryDetail/1" type="application/xml" title="Допоможемо ТВ"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/jquery.bxslider.css">
    <link rel="stylesheet" href="/css/slider-pro.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/carousel-video.css">
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/css/buttons.css" type="text/css" />
    <script type="text/javascript" src="/js/flowplayer/flowplayer-3.2.2.min.js"></script>
</head>
<body>
    <div class="container"> <!-- container start -->
    <div class="row"> <!-- row start -->
        <div class="header"> <!-- header start -->
            <div class="logo col-lg-1">
                <a href="/{{homePage}}"> <img src="/img/logo.png" alt=""></a>
            </div>
            <div class="user-panel col-lg-3"> <!-- user panel start -->
                <div class="user-support">
                    {#<a href="#">регистрация</a>
                    <a href="#">забыли пароль?</a>#}
                </div>
                <div class="search-form"> <!-- search-form start -->
                    <form class="form-search">
                        <input type="text" placeholder="найти" onfocus="this.placeholder = ''" onblur="this.placeholder = 'найти'" />
                        <input type="submit" value="" />
                    </form>
                </div> <!-- search-form end -->
                <div class="social-icons"> <!-- social icons start -->
                    <ul>
                      <li class="facebook"><a href="#"></a></li>
                      <li class="twitter"><a href="#"></a></li>
                      <li class="google-plus"><a href="#"></a></li>
                      <li class="vkontakte"><a href="#"></a></li>
                      <li class="youtube"><a href="#"></a></li>
                      <li class="rss"><a href="/rss"></a></li>
                      <li class="mail"><a href="#"></a></li>
                    </ul>
                </div> <!-- social icons end -->
                {% include 'users/start-up-page.twig' with {'status': user_status} %}
                <div class="lang-change"> <!-- lang-change start -->
                    <a class="{{(lan.active=='ru')?'active':''}}" href="/{{getNameModule()}}/?lan=ru">RU</a>
                    <a class="{{(lan.active=='ua')?'active':''}}" href="/{{getNameModule()}}/?lan=ua">UA</a>
                    <a class="{{(lan.active=='en')?'active':''}}" href="/{{getNameModule()}}/?lan=en">EN</a>
                </div> <!-- lang-change end -->
            </div> <!-- user-panel end -->
        </div> <!-- header end -->
    </div> <!-- row end -->
    <div class="row"> <!-- row start -->
        <div class="header-menu col-lg-6"> <!-- header menu start -->
            {% include '/menu/menu-start-up.twig' with {'menu': menu}  %}
        </div> <!-- header menu -->
    </div> <!-- row end -->
    {% if(pieses.outSlider.isRun) %}
        {% include pieses.outSlider.property.template with {'data': pieses.outSlider.data}  %}
    {%endif%}
    {% set inPageByPagination=0 %}
    {% set inRecordByColumn = 6 %}
    <div class="row content-padding-top"> <!-- row start -->
        <div class="content-articles col-lg-4">
            <!-- выведется в отдельный шаблон подгружаемый blkListBlogs-->
            {% if (sub_page)%}
                {{sub_page|raw}}
            {%endif%}
            <!-- выведется в отдельный шаблон подгружаемый blkListNews-->
            yuiyiuy
            {{pieses.listNews.property.isRun}}
            {% if (pieses.listNews.property.isRun)%}
                <div class="row top-header">
                    <div class="col-lg-6">
                        <h2>{{pieses.listNews.property.title}}</h2>
                    </div>
                </div>
                <hr />
                <div id='PagingRecord'>
                    {% set inPageByPagination = (pieses.listNews.info.count_record // 12)+1 %}
                    {% set inRecordByColumn = 6 %}
                    <div class="col-lg-3 article-list">
                        {% for item in 0..inRecordByColumn-1 %}
                            {%if(pieses.listNews.data[item])%} 
                                {% include '/news/news-one-record.twig' with {'data': pieses.listNews.data[item]}  %}
                            {%endif%}
                        {%endfor%}
                    </div>
                    <div class="col-lg-3 article-list">
                        {% for item in inRecordByColumn-1..inRecordByColumn %}
                            {%if(pieses.listNews.data[item])%} 
                                {% include '/news/news-one-record.twig' with {'data': pieses.listNews.data[item]}  %}
                            {%endif%}
                        {%endfor%}
                    </div>
                </div>
            {%endif%}
            <!-- выведется в отдельный шаблон подгружаемый blkListNews -->
            {% if (inPageByPagination>0)%}
                <nav class="page-navi">
                    <ul class="pagination">
                        <li><a href="#"><img src="/img/pagination-left-arrow.png" alt="" /></a></li>
                        {%for i in 1..inPageByPagination%}
                            <li class='{{(page.active==i)?'active':''}}'><a id='page_{{i}}' href="/{{getNameModule()}}/?page={{i}}">{{i}}</a></li>
                        {%endfor%}
                        <!--<li class="active"><a href="#">2</a></li>-->
                        <li><a href="#"><img src="/img/pagination-right-arrow.png" alt="" /></a></li>
                    </ul>
                </nav>
            {%endif%}
            <!-- выведется в отдельный шаблон подгружаемый blkListBlogs -->
            {% if(pieses.outContentVideo.property.isRun) %}
                {{pieses.outContentVideo.property.template}}
                {% include pieses.outContentVideo.property.template with {'data': pieses.outContentVideo.data}  %}
            {%endif%}
        </div>
        <div class="side-bar col-lg-2">
            {% if(pieses.outNews.property.isRun)%}
                {% include pieses.outNews.property.template with {'data': pieses.outNews.data}  %}
            {%endif%}      
            {% if(pieses.outBlogs.property.isRun)%}
                {% include pieses.outBlogs.property.template with {'data': pieses.outBlogs.data}  %}
            {%endif%}      
            {% if(pieses.outVideo.property.isRun) %}
                {% include pieses.outVideo.property.template with {'data': pieses.outVideo.data}  %}
            {%endif%}
        </div>
    </div> <!-- row end -->
    <div class='row'>
        {% if(pieses.outVideo.property.isRun) %}
        {% include '/common/footer-carusel-video.twig' with {'data': pieses.outVideo.data}  %}
        {%endif%}
    </div>
  <div class="row"> <!-- row start -->
  <div class="content-map col-lg-4"> <!-- content-map start -->
  
    <span class="title">{{getCaptionInput('caption_text_maps')|raw}}</span>
  <a href='http://map.dopomozhemo.tv/'><img src="/img/map.jpg" alt=""></a>
  </div> <!-- content-map end -->
    {% include 'common/footer-citates.twig' with {'rss':rss}%}
  
  <div class="row"> <!-- row start -->
  
    </div> <!-- row end -->
    <div class="footer"> <!-- footer start -->
    <div class="row"> <!-- row start -->
        {% if(pieses.outLinkDown.property.isRun)%}
            {% include pieses.outLinkDown.property.to_site with {'data': pieses.outLinkDown.data}  %}
        {%endif%}
    </div> <!-- row end -->
    </div> <!-- footer end -->
    <div class='footer-menu'>
        <div class='row'>
            {% include '/menu/menu-start-up.twig' with {'menu': menu}  %}
        </div>
    </div> <!-- footer menu -->
    <div class="row"> <!-- row start -->
    <div class="footer-bottom"> <!-- footer-bottom end -->
    
    <div class="logo col-lg-1">
      <a href="index.html"> <img src="/img/logo-footer.png" alt=""></a>
    </div>
    <div class="copyright col-lg-2">
      <p>© 2014 Допоможемо.tv. Все права защищены</p>
    </div>
    <div class="social-icons foot-icons col-lg-2"> <!-- social-icons start -->
    <ul>
      <li class="facebook"><a href="#"></a></li>
      <li class="twitter"><a href="#"></a></li>
      <li class="google-plus"><a href="#"></a></li>
      <li class="vkontakte"><a href="#"></a></li>
      <li class="youtube"><a href="#"></a></li>
      <li class="rss"><a href="/rss"></a></li>
      <li class="mail"><a href="#"></a></li>
    </ul>
    
    </div> <!-- social icons end -->
    <div class="footer-banners col-lg-2">
      <a href="#"><img src="/img/banner-bigmir.jpg" alt=""></a>
      <a href="#"><img src="/img/banner-liveint.jpg" alt=""></a>
    </div>
    </div> <!-- footer-bottom end -->
    </div> <!-- row end -->
    </div> <!-- container end -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/jquery.bxslider.min.js"></script>
    <script src="/js/jquery.sliderPro.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/nav.js"></script>
    {% if (pieses.listBlogs.property.isRun)%}
        <script type="text/javascript" src="/js/info-blogs.js"></script>
    {%endif%}    
    {% if (pieses.listNews.property.isRun)%}
        <script type="text/javascript" src="/js/info-news.js"></script>
    {%endif%}    
    {% if (pieses.listProposal.property.isRun)%}
        <script type="text/javascript" src="/js/info-proposal.js"></script>
    {%endif%}    
  </body>
</html>

{#
<div class="row content-padding-top"> <!-- row start -->
        
        
        
        <div class="side-bar col-lg-2"> <!-- side-bar start -->
            
        </div> <!-- side-bar end -->
    </div> <!-- row end -->
#}