<div class='news-block'>
    {%if(title)%}
        <h2>{{title}}</h2>
    {%endif%}  
    {%if(data)%}
        {%for key,item in data%}
            <div>
            {%if(item.value)%}
                <span class="title"><a id='detail-news-{{item.value}}' href="/news/detail/{{item.value}}">{{item.title}}</a></span>
                {%if(item.images_id)%}
                    <img class='xs' src="/images_module/getImages/{{item.images_id}}/215/150/1" alt=""/>
                {%endif%}
                <span class="about">{{writeCuttingText(item.note,400)|raw}}</span>
                {#<span class="sub-title">{{getDecodeDate(item.date)|raw}}</span>#}
            {%else%}    
                <h2>{{item.title}}</h2>
            {%endif%}
            </div>
        {%endfor%}
    {%endif%}
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <h2>Slide 1</h2>
            <img alt='' src='/images/peugeot_1007_manual.jpg'></img>
            <div class="carousel-caption">
              <h3>First slide label</h3>
              
            </div>
        </div>
        <div class="item">
            <h2>Slide 2</h2>
            <img alt='' src='/images/896789.jpg'></img>
            
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <img alt='' src=''></img>
            </div>
        </div>
        <div class="item">
            <h2>Slide 3</h2>
            <img alt='' src='/images/spr.jpg'></img>
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <img alt='' src=''></img>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

