<script type="text/javascript" src="/js/info-news.js"></script>
{%autoescape false%}
<!-- comments -->
<div class="article news">
    <div class="head">
            <span class="small"><a href="#">{{news.data.category.nc_title}}</a></span>
            <span class="date">{{getDecodeDate(news.data.news_creates)}}</span>
    </div>
    {%if(news.data.cpicture_id)%}
        {{news.data.collection|raw}}
        {%endif%}
    <div class="text">
        <h4><a href="/news/detail/{{news.data.news_id}}#">{{news.data.news_title}}</a></h4>
        {%if(news.data.images_id)%}
            {#<img class= "leftimg" src="/{{getImagesForElement(news.data.images_id)}}" alt="">#}
            <img class= "leftimg" src="/images_module/getImages/{{news.data.images_id}}/250/250/0" alt="">
        {%endif%}
        {{news.data.news_text}}
    </div>
</div>
    
<div class="comments-block">
    
    <div class="row top">
        <div class="col-lg-6">
        <h3 class="pull-left">{{comments.title}}</h3>
        <div class="comments pull-left"><a href="#">{{comments.counts}}</a></div>
        </div>
    </div>
    <hr/>
    {% for item in comments.data%}
        <div class="row comment">
            <div class="col-lg-6 no-padding">
                <div class="head">{{(item.comments_name)?item.comments_name:item.user_id}}<span class="date">&nbsp;{{getDecodeDate(item.comments_created)}}</span></div>
                <div class="text">
                    <p>{{item.comments_text}}</p>
                </div>
            </div>
        </div>
    {%endfor%}
    <div class="row add-comment">
        <h3>{{getCaptionInput('caption_comments')}}</h3>
        <form action="/news/save_comments" class="clearfix" id="frmSaveComments" method='post'>
            <input name='nc_id' type="hidden" value="{{news.data.category.nc_id}}"/>
            <input name='news_id' type="hidden" value="{{news.data.news_id}}"/>
            <input name='language_id' type="hidden" value="{{news.data.language_id}}"/>
            <input name='comments_created' type="hidden" value="{{getDate()}}"/>
            <input name='comments_name' id='comments_name' type="text" placeholder="{{getCaptionInput('ph_inputname')}}" />
            <textarea name='comments_text' id='comments_text' cols="30" rows="10" placeholder="{{getCaptionInput('ph_inputcomments')}}"></textarea>
            <div class="captcha pull-left clearfix">
                <div class="image pull-left">{{getCaptcha()|raw}}</div>
                <input type="text" name="edtCaptcha" id="edtCaptcha" placeholder="{{getCaptionInput('ph_inputcaptcha')}}" />
            </div>
            <input type="submit" id='btnSaveComments' value="{{getCaptionInput('ph_putcomments')}}" class="pull-right" />
        </form>
    </div>
</div>
<!-- end comments -->
{%endautoescape%}