{%autoescape false%}
<div class="article news">
    <div class="head">
        <span class="small"><a href="/news/CategoryDetail/{{data.nc_id}}">{{data.nc_title}}</a></span>
        <span class="date">{{getDecodeDate(data.news_creates)}}</span>
    </div>
    <div class="text">
        <h4><a id='detail-news-{{data.news_id}}' href="/news/detail/{{data.news_id}}">{{data.news_title}}</a></h4>
        {%if(data.images_id)%}
            {#<img class= "leftimg" src="/{{getImagesForElement(news.data.images_id)}}" alt="">#}
            <img class= "leftimg" src="/images_module/getImages/{{data.images_id}}/{{getVariable('image_width_left')}}/{{getVariable('image_height_120')}}" alt="">
        {%endif%}
        {%if(data.detail)%}
            <a id='detail-news-{{data.news_id}}' href="/news/detail/{{data.news_id}}">{{writeCuttingText(data.news_text,200)|raw}}</a>
        {%else%}
            <a id='detail-news-{{data.news_id}}' href="/news/detail/{{data.news_id}}">{{writeCuttingText(data.news_text,200)|raw}}</a>
        {%endif%}
        <div class='comments pull-right'><a id='detail-news-{{data.news_id}}' href="/news/detail/{{data.news_id}}">{{data.news_count}}</a></div>
    </div>
</div>
{%endautoescape%}