<div class="picture-of-day"> <!-- picture-of-day start -->
    <hr>
    {%for item in data.data%}
        <div>
        {%if(item.news_id)%}
            <span class="title"><a id='detail-news-{{item.news_id}}' href="/news/detail/{{item.news_id}}">{{item.news_title}}</a></span>
            {%if(item.images_id)%}
                <img src="/images_module/getImages/{{item.images_id}}/120/120" alt=""/>
            {%endif%}
            <span class="about">{{writeCuttingText(item.news_text,100)|raw}}</span>
            <span class="sub-title">{{getDecodeDate(item.news_creates)|raw}}</span>
        {%else%}    
            <h3>{{item.news_title}}</h3>
        {%endif%}
        </div>
    {%endfor%}
</div>
