html, body, form, fieldset {
	margin: 0;
	padding: 0;
}
body {
	background: #FFFFFF;
	color: #000000;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	line-height: 1.5;
}
body#bd {
	color: #CCCCCC;
	background-color: #333333;
	background-attachment: fixed;
	background-position: center top;
}
body.contentpane {
	color: #000000;
	font-size: 12px;
	line-height: 1.3em;
	margin: 0;
	margin: 1em 2em;
	width: auto; /* Printable Page */
}
body.fs1 {font-size: 10px;}
body.fs2 {font-size: 11px;}
body.fs3 {font-size: 12px;}
body.fs4 {font-size: 13px;}
body.fs5 {font-size: 14px;}
body.fs6 {font-size: 15px;}
/* Normal link */
a {
	color: #FFCC00;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #FFCC00;
	text-decoration: underline;
}
a img {
	border: none;
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html > body .clearfix {
	display: block;
	width: 100%;
}
* html .clearfix {
	height: 1%;
}
#admin-wrapper {
    width: 950px;
    margin: 0 auto;
    clear: both;
    background: url(/images/wrapper-bg.png) repeat-y center;
}
#admin-topbar {
    background: url(/images/grad-3.png) repeat-x top #2F2F2F;
    height: 25px;
    margin: 0 10px;
    position: relative;
}
#admin-pathway {
    padding-top: 3px;
    color: #999999;
    text-indent: 15px;
}
#admin-pathway strong {
    margin-right: 5px;
}
#admin-pathway img {
    margin: 1px 5px;
}
/**/
#admin-search {
    background: url(/images/search-bg.png) no-repeat left;
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    padding-left: 35px;
    font-size: 11px;
}
#admin-search .inputbox {
    margin: 3px 3px 0 0;
    width: 150px;
    background: transparent;
    border: none;
    color: #999999;
}
#admin-search .button {
    font-size: 11px;
}
/* header */
#admin-header {
    line-height: normal;
    position: relative;
    padding: 0;
    margin: 0 10px;
    z-index: 999;
    height: 90px;
    background: url(/images/header-bg.png) repeat-x bottom #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
h1.logo, div.logo-text {
    margin: 0 20px;
    padding: 0;
}
h1.logo {
    width: 264px;
    height: 60px;
    float: left;
    margin-top: 15px;
}
h1.logo a {
    width: 264px;
    height: 60px;
    display: block;
    background: url(/images/logo.png) no-repeat center;
}
h1.logo a span {
    position: absolute;
    top: -1000px;
}
div.logo-text {
    outline: none;
    position: absolute;
    top: 20px;
}
div.logo-text h1 {
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}
div.logo-text h1 a {
    color: #333333;
}
.site-slogan {
    color: #666666;
    margin: 0;
    padding: 0;
}
/* login */
#admin-login {
    position: absolute;
    right: 30px;
    top: 25px;
    color: #666666;
}
label.admin-login-user span,
label.admin-login-password span {
    display: block;
    width: 25px;
    height: 24px;
    float: left;
    text-indent: -2000%;
}
label.admin-login-user span {
    background: url(/images/icon-user.png) no-repeat;
}
label.admin-login-password span {
	background: url(/images/icon-key.png) no-repeat;
}
#admin-login label {
	float: left;
}
#admin-login form #mod_login_username,
#admin-login form #mod_login_password {
	width: 100px;
	margin: 2px 0 0 5px;
	font-size: 11px !important;
	border: 1px solid #CCCCCC;
}
#admin-login form #mod_login_password {
	margin-right: 5px;
}
#admin-login form .button {
	margin-top: 2px;
	border: 1px outset #CCCCCC;
}
.admin-login-links {
	display: block;
	clear: both;
	padding: 6px 0 0;
	font-size: 92%;
}
.admin-login-links a {
	padding: 0 5px;
	color: #666666;
}
/**/
#admin-mainnav {
	//padding: 0 10px;
	margin: 0 10px;
	height: 42px;
	background: url(/images/mainnav-bg.png) repeat-x top #000000;
	position: relative;
	z-index: 999;
}
#admin-mainnav ul {
    margin-left: -40px;
}
#admin-mainnav li {
    float: left;
    margin-left: 2px;
    //background-color: white;
    display: inline-block;
    height: 40px;
}

#admin-mainnav li a {
    display: inline-block;
    //background-color: red;
    line-height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    //border-image: url(/images/mainnav-bg.png);
}
#admin-mainnav a, #admin-subnav a {
	outline: none;
	line-height: normal;
}
#admin-subnav {
	clear: both;
	background: #1D1D1D;
	margin: 0 10px;
	height: 30px;
}
#admin-subnav ul {
	list-style: none;
	margin: 0;
        margin-left: -40px;
	
}
#admin-subnav li {
	background: none;
	margin: 0;
	padding: 0;
	display: inline-block;
        //background-color: #00620C;
}
#admin-subnav a {
	display: block;
	float: left;
	outline: none;
	padding: 0 15px;
	height: 25px;
	line-height: 25px;
	text-decoration: none;
	color: #999999;
}
#admin-subnav a:hover,
#admin-subnav a:active,
#admin-subnav a:focus {
	color: #FFFFFF;
	text-decoration: none;
}
#admin-subnav li.active a {
	background: url(/images/grad-3.png) repeat-x top #2F2F2F;
	color: #FFCC00;
	font-weight: bold;
	text-decoration: none;
}
/**/
#admin-containerwrap,
#admin-containerwrap-fr,
#admin-containerwrap-fl,
#admin-containerwrap-f {
    clear: both;
}
/*content + left*/
#admin-containerwrap-fr #admin-mainbody {
	width: 100%;
}
#admin-containerwrap-fr #admin-col1 {
	width: 22%;
}
#admin-containerwrap-fr #admin-content {
	width: 78%;
	background: url(/images/content-center2.png) repeat-y center;
}
#admin-containerwrap-fr #admin-content-top {
	background: url(/images/content-top2.png) no-repeat center top;
}
#admin-containerwrap-fr #admin-content-bot {
	background: url(/images/content-bot2.png) no-repeat center bottom;
}
.narrow #admin-containerwrap-fr #admin-content {
	background: url(/images/content-center2-n.png) repeat-y center;
}
.narrow #admin-containerwrap-fr #admin-content-top {
	background: url(/images/content-top2-n.png) no-repeat center top;
}
.narrow #admin-containerwrap-fr #admin-content-bot {
	background: url(/images/content-bot2-n.png) no-repeat center bottom;
}
/*content + right*/
#admin-containerwrap-fl #admin-content {
	width: 100%;
	background: url(/images/content-center.png) repeat-y center;
}
#admin-containerwrap-fl #admin-content-top {
	background: url(/images/content-top.png) no-repeat center top;
}
#admin-containerwrap-fl #admin-content-bot {
	background: url(/images/content-bot.png) no-repeat center bottom;
}
.narrow #admin-containerwrap-fl #admin-content {
	background: url(/images/content-center-n.png) repeat-y center;
}
.narrow #admin-containerwrap-fl #admin-content-top {
	background: url(/images/content-top-n.png) no-repeat center top;
}
.narrow #admin-containerwrap-fl #admin-content-bot {
	background: url(/images/content-bot-n.png) no-repeat center bottom;
}
/*full*/
#admin-containerwrap-f #admin-mainbody {
	width: 100%;
}
#admin-containerwrap-f #admin-content {
	width: 100%;
	background: url(/images/content-center1.png) repeat-y center;
}
#admin-containerwrap-f #admin-content-top {
	background: url(/images/content-top1.png) no-repeat center top;
}
#admin-containerwrap-f #admin-content-bot {
	background: url(/images/content-bot1.png) no-repeat center bottom;
}
#admin-containerwrap-f #admin-current-content {
	padding-left: 20px;
	padding-right: 20px;
}
.narrow #admin-containerwrap-f #admin-content {
	background: url(/images/content-center1-n.png) repeat-y center;
}
.narrow #admin-containerwrap-f #admin-content-top {
	background: url(/images/content-top1-n.png) no-repeat center top;
}
.narrow #admin-containerwrap-f #admin-content-bot {
	background: url(/images/content-bot1-n.png) no-repeat center bottom;
}
/**/
#admin-content {
	clear: both;
	display: block;
	float: right;
	width: 70%;
	background: url(/images/content-center3.png) repeat-y center #222222;
}
#admin-content-top {
	background: url(/images/content-top3.png) no-repeat center top;
}
#admin-content-bot {
	background: url(/images/content-bot3.png) no-repeat center bottom;
}
.narrow #admin-content {
	background: url(/images/content-center3-n.png) repeat-y center #222222;
}
.narrow #admin-content-top {
	background: url(/images/content-top3-n.png) no-repeat center top;
}
.narrow #admin-content-bot {
	background: url(/images/content-bot3-n.png) no-repeat center bottom;
}
#admin-current-content {
	padding: 20px;
	margin: 0;
}
/**/
#admin-col1 {
	float: left;
	overflow: hidden;
	width: 30%;
}
#admin-col1 div.admin-innerpad {
	padding-right: 5px;
}
#admin-col2 {
	float: right;
	overflow: hidden;
	width: 30%;
}
#admin-col2 div.admin-innerpad {
	padding-left: 5px;
}
/**/
#admin-footer {
	clear: both;
	position: relative;
	padding: 8px 20px;
	margin: 0 10px;
	color: #666666;
	text-align: center;
	border-top: 1px solid #1D1D1D;
	background: #2F2F2F;
}
#admin-footer small {
	font-size: 100%;
}
#admin-botnav {
	background: #1D1D1D;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	clear: both;
	margin: 0 10px;
	padding: 5px 0;
	text-align: center;
}
#admin-botnav ul {
	margin: 0;
	padding: 0;
}
#admin-botnav li {
	margin: 0;
	padding: 0 10px;
	background: url(/images/vline.png) no-repeat left center;
	display: inline;
}
#admin-botnav li a {
	color: #999999;
}
#admin-botnav li a:hover, #admin-botnav li a:active, #admin-botnav li a:focus {
	color: #FFFFFF;
}