body,html{
	margin:0px;
	padding:0px;
	width:100%;
        height: 100%;
        min-height: 100%;
        position:relative;
	font:18px/20px;
        //font-family: CyrillicOld;
	background: url(/images/bg-html.png) 0 0 repeat;
        background-color: #FEFDF5;
}
div {
    position: relative;
    z-index: 10;
}
#wrapper {
    height:auto !important;
    height:100%;
    min-height:100%; 
}
.parent {
    background-color:#FEFDF5;
    width: 1000px;
    min-width: 1000px;
    height: 1000px;
    margin: 0 auto;
    overflow: auto;
    font-size: 15px;
    color: #002166;
    padding: 0px;
}
.content-right {
    width: 783px;
    float: right;
}
.content-left {
    width: 200px;
    float: left;
    min-height: 1000px;
    text-align: right;
    background: url(/images/bg-right-div.png);
}
div.header_main{
	height: 100px;
        background: url(/images/bg-header.png) repeat-x;
}
div.header_override {
    padding: 10px;
}
div.header_override > span {
    float: left;
    display: block;
    position: relative;
    font-size: 50px;
    color: #a1b3a1;
}
div.header_override span.header {
    text-shadow: 1px 1px 2px black, 0 0 8px #9E090A;
}
div.header_override span.title {
    font-size: 30px;
    text-shadow: 1px 1px 2px black, 0 0 5px yellow;
    margin-left: 30px;
    margin-top: 20px;
    float: right;
}
.div_separator {
    height: 20px;
    background: url(/images/bg-separator-all-cut.png) repeat-x;
}
.div_menu {
    height: 35px;
    color: #002166;
}
.div_menu ul {
    margin-left: 0; 
    padding-left: 0;
    border-top: 1px #FFCC00 dotted;
}
.div_menu li {
    list-style-type: none;
    border-bottom: 1px #FFCC00 dotted;
    line-height: 25px;
    color: #002166;
}
.div_menu li a.sub-element {
    display: inline-block;
    width: 100%;
    border: none;
    color: #002166;
}
.div_menu li a.sub-element:hover {
    text-align: left;
}
.div_menu li a.active {
    text-align: left;
}
.fill {
    background-color: #fff4cd;
}
a.sub-element {
    display: inline-block;
    border-top: 1px #cdebcd dotted;
    border-bottom: 1px #cdebcd dotted;
    color: #cdebcd;
    line-height: 30px;
    font-size: 15px;
    text-align: right;
    text-decoration: none !important;
}
a.sub-element.active {
    border-top: 1px #F89406 dotted;
    border-bottom: 1px #F89406 dotted;
    color: #F89406;
}
a.sub-element-mini {
    display: inline-block;
    border-top: 1px #cdebcd dotted;
    border-bottom: 1px #cdebcd dotted;
    color: #cdebcd;
    line-height: 30px;
    font-size: 15px;
    text-decoration: none;
}
.div_middle
{
    display: block;
    margin: 0 auto;
    width: 800px;
    background-color: #0134c5;
}
.div_bottom {
    height: 20px;
    background-color: #878B94;
    padding: 10px;
    text-align: center;
    color: #b6ccb5;
    z-index: 11;
}
