.bl_tree {
    display: block;
    //border: 1px #FFCC00 dotted;
    padding: 0;
    margin: 0;
    font-size: 16px;
    
}
.bl_tree ul {
    margin-left: -20px;
    //list-style-type: url(/images/buttons/btn-close-folder.png);
    
}
.bl_tree li {
    border-bottom: 1px #FFCC00 dotted;
    line-height: 25px;
    list-style: none; /* Убираем исходные маркеры */
    color: #002166;
}
.bl_tree li.tree {
    padding-left: 30px;
}
.bl_tree .close {
    background: url(/images/buttons/btn-close-folder.png) no-repeat 0 0; /* Параметры фона */
}
.bl_tree .open {
    background: url(/images/buttons/btn-open-folder.png) no-repeat 0 0; /* Параметры фона */
}
.bl_tree .blogs {
    padding-left: 30px;
    background: url(/images/buttons/btn-blogs.png) no-repeat 0 0; /* Параметры фона */
}
.bl_tree li > div {
    display: block;
    float: right;
    //background-color: wheat;
    //border: 1px red solid;
}
.pagination {
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
.pagination > div {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    border: 1px #00BDFF double;
    color: #00BDFF;
    text-align: center;
    border-radius: 8px;
}
.pagination > div:hover {
    border: 1px #398439 double;
    color: #398439;
}
.pagination div.active {
    background-color: #00BDFF;
}
//
