a.action-base {
    display: inline-block;
    //border: 1px #fbfb69 solid;
    position: relative;
    height: 24px;
    width: 24px;
    //line-height: 24px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    text-shadow: 0 1px rgba(255,255,255,0.1);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background-attachment: scroll;
}
a.action-edit {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -96px 0px;
}
a.action-add {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -24px 0px;
}
a.action-delete {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -48px 0px;
}
a.action-checked {
    background-image: url(/images/buttons/btn-check-uncheck.png);
    background-position: -24px 0px;
}
a.action-un-checked {
    background-image: url(/images/buttons/btn-check-uncheck.png);
    background-position: 0px 0px;
}
a.action-main-checked {
    background-image: url(/images/buttons/btn-main-check.png);
    background-position: 0px 0px;
}
a.action-main-un-checked {
    background-image: url(/images/buttons/btn-main-check.png);
    background-position: -24px 0px;
}
a.action-video  {
    background-image: url(/images/buttons/btn-include-video.png);
}
a.action-child  {
    background-image: url(/images/buttons/btn-view-child.png);
}
a.action-to-top {
    background-image: url(/images/buttons/btn-nav-top.png);
    background-position: 0px 0px;
}
a.action-to-top-disable {
    background-image: url(/images/buttons/btn-nav-top.png);
    background-position: -24px 0px;
}
a.action-to-dec {
    background-image: url(/images/buttons/btn-nav-dec.png);
    background-position: 0px 0px;
}
a.action-to-dec-disable {
    background-image: url(/images/buttons/btn-nav-dec.png);
    background-position: -24px 0px;
}
a.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
a.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
a.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
a.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}

div.button-base, a.button-base {
    display: inline-block;
    position: relative;
    height: 29px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0 7px;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    color:#888;
    line-height: 29px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    text-shadow: 0 1px rgba(255,255,255,0.1);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}
div.button-base, a.button-base:hover {
    background-position: 0px -29px;
}
div.orange, a.orange {
    background-image: url(/images/buttons/button-orange.png);
    color: white;
}
div.orange:hover, a.orange:hover {
    text-shadow: 1px 1px 2px #990118;
}
div.orange.active, a.orange.active {
    text-shadow: 2px 2px 4px #990118;
}
div.blue, a.blue {
    background-image: url(/images/buttons/button-blue.png);
    color: #fbfb69;
}
div.blue:hover, a.blue:hover {
    text-shadow: 1px 1px 2px #1678FF;
}
div.blue, a.blue.active {
    text-shadow: 2px 2px 4px #1678FF;
}
div.green, a.green {
    background-image: url(/images/buttons/button-green.png);
    color: white;
}
div.green:hover, a.green:hover {
    text-shadow: 1px 1px 2px #990118;
}
div.green.active, a.green.active {
    text-shadow: 2px 2px 4px #990118;
}
div.red, a.red {
    background-image: url(/images/buttons/button-red.png);
    color: #fbfb69;
}
div.red:hover,a.red:hover {
    text-shadow: 1px 1px 2px white;
}
div.red.active, a.red.active {
    text-shadow: 2px 2px 4px white;
}
div.whide, a.whide {
    width: 98%;
    text-align: center;
    margin: 0 auto;
}
div.left, a.left {
    float: left;
}
div.right, a.right {
    float: right;
}