.bg-all-page {
    background-image: url(/images/bg-all-page.jpg);
    height: 1000px;
}
.bg-all-page-admin {
    height: 1000px;
}
.bg-black {
    background-color:  #000;
}
.bg-white {
    background-color:  #fff;
}
.bg-main {
    background-color: #FFE7B5;
}
.cl-left-content {
    display: block;
    background-color: #FFDDA7;
}
.cl-left-content-admin {
    margin-top: 105px;
    display: block;
}
hr.title-child {
    border: none;
    color: #145DA7;
    background-color: #145DA7;
    height: 2px;
}
.div-header {
    margin-top: 370px;
    color: #FFF;
    //border: 1px dotted yellow;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    background-image: url(/images/bg-top-menu.png);
    background-repeat:repeat-x;
    -moz-border-radius:3px;
    -webkit-border-radius:0px;
    border-radius:3px;
    //padding-top: 10px;
}
.div-header-admin {
    //margin-top: 400px;
    background-color: #ececec;
    //border: 1px dotted yellow;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    //background-image: url(/images/bg-top-menu.png);
    background-repeat:repeat-x;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    //padding-top: 10px;
}
.div-header a {
    color: #2A2217;
    //margin-left: 10px;
    line-height: 50px;
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.div-header a:link, a:active {
    color: #2A2217;
    text-decoration: none;
}
.div-header a:active {
    text-shadow: 1px 1px 2px #f0bd65, 0px 0px 0.5em #000;
    border: 1px none solid;
}
.div-header a:hover {
    color: #2A2217;
    text-decoration: none !important;
    text-shadow: 1px 1px 2px #f0bd65, 0px 0px 0.5em #000;    
    //text-shadow: 5px 5px 5px rgba(240,189,101,0.5);
    //text-shadow: 1px 1px 2px black, 0 0 1em #9E090A;
}
.div-top-work {
    background-color: #FFE7B5;
    //margin-top: 400px;
    //border: 1px dotted yellow;
    //background-image: url(/images/bg-top-subcontent.png);
    //background-repeat: no-repeat;
    /*
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;*/
}
.div-top-work-admin {
    background-color: #fff;
}
.div-left {
    //color: #31b0d5;
    margin-left: 200px;
}

.top-margin-12 {
  margin-top: 100%;
}
.top-margin-11 {
  margin-top: 91.66666667%;
}
.top-margin-10 {
  margin-top: 83.33333333%;
}
.top-margin-9 {
  margin-top: 75%;
}
.top-margin-8 {
  margin-top: 66.66666667%;
}
.top-margin-7 {
  margin-top: 58.33333333%;
}
.top-margin-6 {
  margin-top: 50%;
}
.top-margin-5 {
  margin-top: 41.66666667%;
}
.top-margin-4 {
  margin-top: 33.33333333%;
}
.top-margin-3 {
  margin-top: 25%;
}
.top-margin-2 {
  margin-top: 16.66666667%;
}
.top-margin-1 {
  margin-top: 8.33333333%;
}
.top-margin-0 {
    margin-top: 2%;
}
.top-margin-01{
    margin-top: 40px;
}
.left-padding-1 {
    padding-left: 2%;
}
.left-padding-2 {
    padding-left: 4%;
}
.right-margin-1 {
    margin-right: 10px !important;
}
/**/
.bottom-margin-0 {
    margin-bottom: 2%;
}
.bottom-margin-1 {
    margin-bottom: 8.33333333%;
}
/**/
.div-footer-bottom {
    text-align: center;
    color: #C27D00;
    background-image: url(/images/bg-footer-bottom.png);
    height: 100px;
}
a {
    //color: #2A2217;
    color: #6C320E;
}

a:link, a:active {
    //color: #2A2217;
    color: #6C320E;
}
a:hover {
    //color: #2A2217;
    color: #6C320E;
    text-decoration: none;
}
a.link-01 {
    display: block;
    //background-color: red;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #145DA7;
}
a.link-02 {
    display: block;
    //background-color: red;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #145DA7;
}
.work-size {
    width: 1280px;
}
/**/
.mi-left {
    
}
.mi-right {
    float: right !important;
    display: block;
}
.sub-menu {
    color: #6C320E;
    margin-left: 0; 
    padding-left: 0;
}
.sub-menu a{
    color: #6C320E;
}
.sub-menu ul {
    //border-top: 1px #FFCC00 dotted;
}
.sub-menu li {
    list-style-type: none;
    //border-bottom: 1px #FFCC00 dotted;
    line-height: 25px;
}
.sub-menu li.active {
    text-align: right;
}
/**/
.tree {
    font-size: 14px !important;
}

.tree ul {
    margin-left: -40px;
}

.tree li {
    float: left;
    //border-bottom: 1px #FFCC00 dotted;
    width: 100%;
    list-style: none; /* Убираем исходные маркеры */
    //color: #002166;
    padding-left: 40px;
    font-size: 15px !important;
    opacity: 1 !important;
    color: #005cb7 !important;
    text-shadow: 0px 1px 0px #FFF;
    display: block;
    clear: both;
    font-weight: normal !important;
}
.tree li > div {
    display: block;
    float: left;
    height: 26px;
    
}
.tree li div.container {
    
}

.tree li div.title {
    width: 75%;
    display: inline-block;
    float: left;
    padding-top: 5px;
}
.tree li div.action {
    width: 20%;
    float: left;
}

.tree li.tree {
    
}
.tree li.close {
    background: url(/images/buttons/btn-close-folder.png) no-repeat 0 0; /* Параметры фона */
    
    
}
.tree li.open {
    background: url(/images/buttons/btn-open-folder.png) no-repeat 0 0; /* Параметры фона */
    
}
.tree li.root {
    background-color: #eeeeee;
    border: 1px #ececec outset;
    color: #000 !important;
    margin-bottom: 5px;
    
}
.tree li.level-01 {
    background: url(/images/buttons/btn-blogs.png) no-repeat 30px 0; /* Параметры фона */
    margin-left: 40px;
}
.tree li.level-02 {
    background: url(/images/buttons/btn-blogs.png) no-repeat 60px 0; /* Параметры фона */
    
}
.tre li.text-cl-odd {
    background-color: #fff;
}
.tree li.text-cl-even {
    background-color: #f0f7ff;
}
/* кнопки мини для возможного выбора действий */
.action-base {
    display: inline-block;
    //border: 1px #fbfb69 solid;
    position: relative;
    height: 24px;
    width: 24px;
    //line-height: 24px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    text-shadow: 0 1px rgba(255,255,255,0.1);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background-attachment: scroll;
}
.action-edit {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -96px 0px;
}
.action-add {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -24px 0px;
}
.action-delete {
    background-image: url(/images/buttons/btn-action-base.png);
    background-position: -48px 0px;
}
.action-checked {
    background-image: url(/images/buttons/btn-check-uncheck.png);
    background-position: -24px 0px;
}
.action-un-checked {
    background-image: url(/images/buttons/btn-check-uncheck.png);
    background-position: 0px 0px;
}
.action-main-checked {
    background-image: url(/images/buttons/btn-main-check.png);
    background-position: 0px 0px;
}
.action-main-un-checked {
    background-image: url(/images/buttons/btn-main-check.png);
    background-position: -24px 0px;
}
.action-video  {
    background-image: url(/images/buttons/btn-include-video.png);
}
.action-child  {
    background-image: url(/images/buttons/btn-view-child.png);
}
.action-to-top {
    background-image: url(/images/buttons/btn-nav-top.png);
    background-position: 0px 0px;
}
.action-to-top-disable {
    background-image: url(/images/buttons/btn-nav-top.png);
    background-position: -24px 0px;
}
.action-to-dec {
    background-image: url(/images/buttons/btn-nav-dec.png);
    background-position: 0px 0px;
}
.action-to-dec-disable {
    background-image: url(/images/buttons/btn-nav-dec.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
.action-to-bottom {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: 0px 0px;
}
.action-to-bottom-disable {
    background-image: url(/images/buttons/btn-nav-bottom.png);
    background-position: -24px 0px;
}
.action-to-inc {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: 0px 0px;
}
.action-to-inc-disable {
    background-image: url(/images/buttons/btn-nav-inc.png);
    background-position: -24px 0px;
}
/**/
.block-01 {
    display: block;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px !important;
    color: #6C320F !important;
    text-shadow: 0px 1px 0px #FFF;
}
.block-01 li {
    //border-bottom: 1px #FFCC00 dotted;
    list-style: none; /* Убираем исходные маркеры */
    //color: #002166;
    //padding-left: 40px;
    line-height: 27px;
    font-size: 15px !important;
    opacity: 1 !important;
    color: #6C320F !important;
    text-shadow: 0px 1px 0px #FFF;
    margin-left: -25px;
}
.block-01 li > img {
    margin-left: -20px;
    padding-right: 20px;
}
.block-01 img.xs {
    margin-left: -5px !important;
    padding-right: 0px !important;
    border-radius: 10px;
    float: left;
    border: 1px solid #C9A872;
    margin-top: 10px;
}
.block-01 h2 {
    font-size: 16px !important;
    font-weight: bold;
}
/**/
.image-upload {
    overflow: hidden;
    //background-color: red;
    height: 260px;
    width: 100%;
}
.image-upload div.preview {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding: 0px;
}
.image-upload div.preview > img {
    margin-top: 5px;
}
.btn-color-01 {
    background-color: #f00;
    color: yellow;
}
.btn-color-02 {
    background-color: #FFCC00;
}
.btn-text-color-01 {
    color: #005cb7 !important;
}
.btn-noborder {
    border: none !important;
    //outline: none !important;
    outline: none !important;
    //outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.border-top {
    border-top: 2px red solid !important;
}
/**/
.text-lg {
    text-transform: uppercase;
}
.text-height-01 {
    line-height: 40px !important;
}
.text-pos-left {
    text-align: left !important;
}
.text-pos-right {
    text-align: right !important;
}
.text-cl-black {
    color: #000;
    font-weight: bold;
}
.text-cl-01 {
    color: #FF0000;
}
.text-cl-02 {
    color: #FF0000;
}
.text-cl-03 {
    color: #FF0000;
}
.text-cl-04 {
    color: #FF0000;
}
.text-cl-05 {
    color: #FF0000;
}
.text-cl-06 {
    color: #009000;
}
.text-cl-07 {
    color: #00FF00;
}
.text-cl-08 {
    color: #00FF00;
}
.text-cl-09 {
    color: #00FF00;
}
.text-cl-10 {
    color: #00FF00;
}
.text-bold {
    font-weight: bold;
}
/**/
img.position-right {
    float: right !important;
}
/**/
.pad-position-01 {
    
}
/**/
div.padding-position-01 {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 16px;
    text-align: center;
}
div.padding-position-01 > div {
    float: left; 
    display: block;
}
/**/
.input-skin-01 {
    border-color: #ccdbf2;
    background-color:#f0f7ff;
}
/**/
h1 {
    
    
}
/*avto block*/
.avto {
    font-size: 14px;
    color: #6C320F;
}
.avto > h1 {
    font-size: 18px;
    color: #B25400;
    padding-bottom: 0px;
}
.avto > h2 {
    font-weight: bold;
    color: #145DA7;
    padding-top: 0px;
    padding-bottom: 0px;
}

.avto > hr.title {
    border: none;
    color: #145DA7;
    background-color: #145DA7;
    height: 2px;
}
.avto > img {
    padding: 0px;
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    //border: 1px solid #CCC;
}
.avto img.xs {
    margin-left: -5px !important;
    padding-right: 0px !important;
    border-radius: 10px;
    float: left;
    border: 1px solid #C9A872;
    margin-top: 0px;
}
/**/
.news-block {
    display: block;
    background-color: #FFE7B5;
    width: 100%;
}
.news-block > div {
    margin-bottom: 5px !important;
    clear: both;
}
.news-block > h2 {
    text-align: center;
}
.news-block img.xs {
    padding: 0px;
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #C9A872;
}
.news-block span.title {
    display: block;
    padding: 5px 0px 18px;
}
.news-block span.title > a {
    display: block;
    color: #145DA7;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 1px 0px #FFF;
}
/**/
.avto-model {
    display: block;
    //background-color:#6C320E;
    width: 100%;
}
.avto-model > h2 {
    font-weight: bold;
    color: #145DA7;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
}
.avto-model hr.title {
    border: none;
    color: #145DA7;
    background-color: #145DA7;
    height: 2px;
    margin-top: -5px;
}
.avto-model > div {
    float: left;
}
.avto-model div.element-info {
    display: block;
    margin-left: 10px;
    border: 1px #6C320F solid;
    border-radius: 10px;
    width: 30.333333%;
    height: 200px;
    margin-top: 10px;
}
.avto-model span.title {
    display: block;
    font-weight: bold;
}
/**/
.num-skin-01 {
    width: 35%;
    float: right;
    margin-right: 15px;
}
/* расширение bootstrap */
.panel-containter-content {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}
.panel-containter-content > h1 {
    font-size: 20px;
    color: #B25400;
    padding-bottom: 5px;
    font-weight: bold;
}
.panel-containter-content > h2 {
    font-size: 15px;
    color: #F00;
    text-align: justify;
}
.panel-containter-content > h3 {
    font-size: 14px;
    color: #000;
    text-align: justify;
    font-weight: normal;
    padding-bottom: 10px;
}

.panel-price {
  border-color: #EABA80;
  color: #000;
  //border-top: 1px solid ;
}
.panel-price > .panel-heading {
  //color: #000;
  background-color: #c6a874;
  //border-color: #ddd;
  font-weight: bold;
}
.panel-price > .panel-heading + .panel-collapse > .panel-body {
  //border-top-color: #ddd;
}
.panel-price > .panel-heading .badge {
  color: #f5f5f5;
  //background-color: #333;
}
.panel-price > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #EABA80;
}
.panel-price > .table {
    background-color: #FFDDA7;
}
.panel-price .table > tbody > tr > td {
    border-top: 1px #EABA80 dotted !important;
}