* {margin:0; padding:0; }
* html body { height:100%; }
body {
    min-height: 100%;
    font-size: 13px;
    font-family: 'PT Sans', Tahoma, Arial;
    color: #333;
    position: relative;
    margin :0;
    padding: 0;
    //background: url(/images/bg-html.png) 0 0 repeat;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 300px;
    margin: auto;
    //background-color: #ff0000;
}
.content {
    width: 980px;
    padding: 2px 0 0 0;
    margin: auto;
    //background-color: #ffe45c;
}
.content .header {
    height: auto;
    background-color: #1678FF;
    max-height: 300px;
}
.header {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 8px 0;
    box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    -o-box-shadow: 0 0 5px #999;
    background: #f3f3f3;
}
.header .autorization {
    height: 30px;
    background-color: #000055;
    width: 980px;
    margin: 0 auto;
}
.header .menu {
    background-color: #99BC99;
    width: 980px;
    margin: 0 auto;
    padding: 2px 0 2px 0;
}
.footer {
    height: 260px;
    width: 100%;
    color: #888;
    position: absolute;
    bottom: 0;
    border-top: 6px solid #f3f3f3;
    background: #fff;
}
.clear {
	height: 1px;
	clear: both;
}