@charset "utf-8";
/*forms*/
.divOutputForm {
    font-size: 14px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.forms-item {
    display: block;
    width: 100%;
    border:1px #a1b3a1 dotted;
}
.forms-item > input {
    border: 1px #febc00 solid;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    width: 99%;
    font-size: 14px;
}
.forms-item .image_upload {
    position: relative;
    overflow: hidden;
    padding: 1px;
}
.forms-item .image_upload > input[type=file] {
    display: none;
}
.forms-item .image_upload > button{
    float: left;
    height: 100%;
    width: 100%;
    background-color: #FAAB4B;
    border: 2px #febc00 solid;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    height: 30px;     
    line-height: 30px;
}
.forms-item .image_upload > button:hover {
    text-shadow: #5d00b3 0 -1px 0;
}
.forms-item .image_upload > div.preview{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 2px #003399 solid;
    color: #003399;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.forms-item > label {
    font-weight: bold;
    width: 100%;
    display: block;
    color: #FAAB4B;
}
.forms-item > select {
    border: 1px #febc00 solid;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    width: 100%;
    font-size: 14px;
}
.forms-item > input.checkbox {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size: 14px;
    float: left;
}
.forms-item > textarea {
    width: 98%;
    height: 100px;
    resize: none;
}
.forms-item label.title {
    text-align: center;
    color: #FAAB4B;
}
.forms-item label.sufix {
    text-align: left;
    float: left;
    color: #FAAB4B;
}

.forms-item input.error {
    background-color: #fe0002;
    color: yellow;
}
.image_preview {
}
.image_preview .leftimg {
    float:left;
    margin: 4px 4px 4px 0;
}