body{
	margin: 0px;
	padding: 0px;
	background-color: #000;
}
form, h1, h2, h3, h4, h5{
	margin: 0px;
	padding: 0px;
}
h1, h1 a{

}

img {
	margin-top: 5px;
	margin-bottom: 5px;
	}

h2{
 
}
h3{

}
.vost_color_green {
		
    font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0ca024;
	text-decoration: none;
	font-weight:bold;
	 
	 }

.vost_color_red {
		
    font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fd0606;
	text-decoration: none;
	font-weight:bold;
	 
	 }
h4{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: normal;
}
hr{
	padding: 0px;
	height: 1px;
	margin: 0px;
}
#content_bg_center{
	background-image: url(images/bg_page.jpg);
	background-color: #0F0;
}
#email{
	float: right;
	padding-top: 250px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	padding-right: 82px;
}
#email a{color: #FFF;}
.clear {
width:100%;
overflow:hidden;
}
.both{
	font-size: 0px;
	clear: both;
	height: 0px;
}
#header{
	height: 325px;
	background-image: url(images/img_02.jpg);
	background-repeat: no-repeat;

}
#header_a{
	background-image: url(images/img_02.jpg);
	background-repeat: no-repeat;
	padding-top: 27px;
	text-align: left;
}
#center h1,h2 #center h1 a{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #B25400;
	padding-bottom: 10px;
}


#right h2, #left h2{
	background-image: url(images/img_05.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #B25400;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 5px;
}
#right ul, #left ul{
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}
#right li, #left li{
	background-image: url(images/li.jpg);
	background-repeat: no-repeat;
	background-position: 0px -1px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#right a, #left a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #6C320E;
	text-decoration: none;
}
#right a:hover, #left a:hover{
	text-decoration: underline;
}
#right{
	float: right;
	width: 230px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
#left{
	float: left;
	width: 230px;
	font-family: Arial, Helvetica, sans-serif;
	 padding-left: 25px;
}
a{

}
p{

}
.logo{
	float: right;
	height: 130px;
	width: 180px;
	margin-bottom: 187px;
}
img{

}
#page_a{
	background-image: url(images/page.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-position: center top;
	display: table;
}
#page_b{
	background-image: url(images/page2.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-position: center top;
	display: table;
}
#page{
	width: 914px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#center{
	float: left;
	width: 635px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #6C320F;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
	background-color: #ffe8b4;
}

.main_peugeot{  font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color: #6C320F; }
#center ul{
	margin: 10px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
#center li{
	background-image: url(images/img_13.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 0px 22px;
	padding-top: 10px;
}
#center h2,h3,h4,h5,h6{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #B25400;
	padding-top: 20px;
	padding-bottom: 10px;
}
#center h2 a{}
#center h3{}
#center h3 a{}
#cont{
	background-image: url(images/bg_page.jpg);
	background-repeat: repeat-y;
	padding-right: 0px;
	
} 
#cont a{

}
#cont ul{

}
#cont li{

}

#cont a:hover{
	text-decoration: underline;
}
#menu_b{
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	font-size: 22px;
	float: left;
	height: 72px;
}
#menu {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	font-size: 17px;
	float: left;
	height: 72px;
}
#menu a, #menu_b a{
	color: #FFF;
	text-decoration: none;

}
#menu a:hover, #menu_b a:hover{
	text-decoration: underline;
}
#menu_b ul{
	list-style-type: none;
	margin: 0px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#menu ul {
	list-style-type: none;
	margin: 0px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#menu li, #menu_b li{
	float: left;
	width: 270px;
	text-align: center;
	padding-left: 0px;
	padding-right: 31px;
}
#footer{
	background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
	color: #C27D00;
	font-family: Tahoma, Geneva, sans-serif;
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 11px;
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
#footer a{
	color: #F7D8A9;
	text-decoration: underline;
}
#footer_content{
}
#footer_content_right{

}

#table_index{
	float: left;
	width: 600px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F00;
}
.table_index_1{
	float: left;
	width: 250;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6C320F;

}

.table_index_2{
	float: left;
	width: 250;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6C320F;
	margin: 0px;
	
}

.product{
	width: 200px;
	float:left;
	margin-left:60px;
	
	
}
.product_left{
	width: 200px;
	text-align:center;
	margin-left:330px; 
	    	
}

.product_name{
	width: 200px;
	text-align:center;
	margin-bottom:10px;	
		
}



.product_images{
	float: left;
	width: 200px;
	margin-top:14px;
	text-align:center;
	
}



.product_price{
	width: 200px;
	bottom: 200px;
	text-align:center;
}

.table_car{
	text-align:center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:normal;
	font-weight: bold;
	border: 1px dotted DarkOrange;
}

.newListSelected{
    width:360px;
    margin:0 auto;
}
.selectedTxt{
    width:320px;
    height:35px;
    padding:0 30px 0 10px;
    overflow:hidden;
    background:url(select.png);
    color:#000;
    font-size:24px;
    line-height:32px;
    zoom:1;
    position:relative;
    z-index:1;
}
a:link, a:active{
	color: #B25400;
}
.marka{
	width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #EABA80;
	border-right-color: #EABA80;
	border-bottom-color: #EABA80;
	border-left-color: #EABA80;
}
.marka tr{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FEDDA7;
	border-right-color: #FEDDA7;
	border-bottom-color: #FEDDA7;
	border-left-color: #FEDDA7;
}
.marka a{
	color: #333333;
	font-weight: bold;
}
.marka a:hover{
	color: #B25400;
}
.marka td{
	padding: 5px;
	background-color: #FEDDA7;
	font-size: 14px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #EABA80;
	border-right-color: #EABA80;
	border-bottom-color: #EABA80;
	border-left-color: #EABA80;
}

.marka_active {
	background-color: #FEDDA7;
}
.news_left a{
	font-size: 10px;
}
.news_left img{
	border: 1px solid #C9A872;
	margin-top: 5px;
	margin-bottom: 5px;
}
.news_left li{
	margin-bottom: 20px;
}
.newList{
    list-style:none;
    padding:0;
    margin:0 0 0 4px;
    width:352px;
    position:absolute;
    z-index:500;
    top:35px;
		border:1px solid #C6C6C6;
}
.newList li{padding:0;margin:0;}
.newList li a{
    display:block;
    background:#FFF;
    opacity:0.85;
    filter:alpha(opacity=85);
    font-size:18px;
    padding:0 6px;
    line-height:normal;
    outline:none;
    height:30px;
    padding:6px 0 0 6px;
    overflow:hidden;
}
.newList li a:link,.newList li a:visited,.newList li a:hover{
    color:#000;
    text-decoration:none;
}
.newList li a.hiLite,.newList li a.newListHover{
    background:#eaeaea;
}
.both h4{ font-family:Arial, Helvetica, sans-serif; margin:0px; font-size:14px;}
#search_category_id{ padding:35px; width:200px;}

.parent{ padding:3px; width:10px; float:left; margin-right:1px;}
.h2_text {
      font-size:18px;
      font-style: italic;
}

.p_text {
      font-size:14px;
}

.stranica_tovara{
	    background-color: #D8C08C;
    padding: 20px;
    border-top-width: 7px;
    border-right-width: 7px;
    border-bottom-width: 7px;
    border-left-width: 7px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #583416;
    border-right-color: #583416;
    border-bottom-color: #583416;
    border-left-color: #583416;
    line-height: 1.4em;
}
.stranica_tovara img{
    float: left;
    border: 1px solid #EFDBB0;
    margin-right: 10px;
    margin-bottom: 5px;
}
.stranica_tovara h1{
    color: #9D5500;
}
.stranica_tovara h1 a{color: #9D5500;}
.stranica_tovara_center{
	width: 420px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.stranica_tovara_block{
    float: left;
    border: 1px solid #DEB052;
    width: 200px;
    margin-right: 7px;
    background-color: #FFF;
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
}
.stranica_tovara_block_title{
    background-image: url(images/str_tovara_title.jpg);
    background-repeat: repeat-x;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #DEB052;
    border-right-color: #DEB052;
    border-bottom-color: #DEB052;
    border-left-color: #DEB052;
    padding: 9px;
    margin-top: 7px;
    background-color: #D9C28E;
    font-weight: bold;
    color: #000;
    font-size: 12px;
}

.stranica_tovara_block_title a{
    color: #000;
}

.news_podrobnee {
      font-size:10px;
}

.news_text {
      font-size:14px;
}

.img_r{
    float: right;
    border: 1px solid #EFDBB0;
    margin-right: 10px;
    margin-bottom: 5px;
}

.img_l{
    float: left;
    border: 1px solid #EFDBB0;
    margin-right: 10px;
    margin-bottom: 5px;
}

.peugeot_catalog_blueline { background:bottom repeat-x url(images/peugeot_catalog_blue_line.jpg); }

.peugeot_catalog_text_strong { font-weight: bold; }