div.cl-plm-tabs {
    //border: 1px solid #ddd;
    border-top: 1px solid #aaa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
div.cl-plm-tabs > div {
    border: 1px solid #aaa;
}
ul.cl-plm-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
ul.cl-plm-tabs-nav li {
    display: inline;
    height: 30px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
ul.cl-plm-tabs-nav li a {
    /*padding: 3px 9px;*/
    //background-color: #666;
    color: #000;
    text-decoration: none;
    padding-right: 2px;
    padding-left: 2px;
}
ul.cl-plm-tabs-nav li a.selected {
    //background-color: #ff0000;
    color: #000;
    text-decoration: none;
    height: 30px;
    border-bottom: 1px solid #ffffff;
}
