<link rel="stylesheet" href="/css/tabs-control.css" type="text/css" />
<script type="text/javascript" src="/js/{{output.property.include_js}}"></script>
{% if (tabs_run)%}
    <div id='divUsersTabs' class=''>
        <ul id='ulUsersTabsNav' class=''>
            {% set outIndex=1 %}
            {% set outDiv='' %}
            {% for ti in tabs_run.data %}
                <li><a class='' href='{{ti.url}}'>{{ti.title}}</a></li>
                {% set outIndex=outIndex+1 %}
            {%endfor%}
        </ul>
    </div>
{% endif%}    
