{# empty Twig template #}
<link rel="stylesheet" href="/css/forms.css" type="text/css" />
<script type="text/javascript" src="/js/info-user.js"></script>
<div class="admin-login">
    <form id='{{data.form_property.name}}' method='{{data.form_property.method}}' action='{{data.form_property.action}}'>
        {% for control in data.form_data %}

        {% endfor %}
        
    </form>
</div>
