{# empty Twig template #}
<link rel="stylesheet" href="/css/forms.css" type="text/css" />
<script type="text/javascript" src="/js/info-user.js"></script>
<div class="forms-design">
    <form id='{{data.form_property.name}}' method='{{data.form_property.method}}' action='{{data.form_property.action}}'>
        
        {% for control in data.form_data %}
            <div class='forms-item'>
                {% if (control.to_control.set_type=='a') %}
                    <a class='button-base green ' id='{{control.to_control.set_name}}' href="" url="{{control.to_control.set_url}}">{{control.caption}}</a>
                {% else %}
                    <label class='title'>{{control.caption}}</label>
                    <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' />
                {%endif%}
            </div>
        {% endfor %}
        
    </form>
</div>
