<!-- small images slider -->
<script type="text/javascript" src="/js/info-news.js"></script>
<!-- end small images slider -->
<div class="row">
    <div class="col-lg-6">
        <div class="carousel-small-images" id="carousel-small-images">
            {%for item in collection %}
                <div class="image" id='picture-to-div-{{item.picture_id}}'><img src='/images_module/getPicture/{{item.picture_id}}/100/100'/></div>
            {%endfor%}
        </div>
        <div id='div-preview-img' class="divPreviewImage"><img src='/images_module/getPicture/{{collection[0].picture_id}}/400/400'/></div>
    </div>
</div>


        
