<div class="blockquote col-lg-2"> <!-- blockquote start -->
  <span class="title">Цитата</span>
  <div class="blockquote-item">
    <img src="/img/img_140513_022637.jpg" alt="">
    <span class="date"></span>
    <span class="intro">Только все вместе – слыша друг друга, чувствуя друг друга, помогая друг другу – мы вернем мир в наш дом, мир на Донбасс, мир в нашу страну
    <br/>
    <strong>Ринат Ахметов</strong>
    </span>
    <p class="main-text">
        
    </p>
  </div>
  <div class="blockquote-buttons">
    <div class="icon-rss">
      <a href="{{rss}}"> <img src="/img/icon-rss.png" alt=""></a>
    </div>
    <div class="all-materials">
      <a href="#">{{getCaptionInput('caption_all_matherial')}}</a>
    </div>
  </div>
  </div> <!-- blackquote end -->
