{%autoescape false%}
<hr/>
<div class="carousel-video" id="carousel-video">
    {%for item in data%}
        <div>
            <div class="video">
                {#{%if checkFileExists('/video/',vc.content_file)%}
                    <a href="/video/{{vc.content_file}}" style="display: block; width: 210px; height: 210px;" id="player_content{{vc.content_id}}"></a>
                    <script language="JavaScript">
                        flowplayer("player_content{{vc.content_id}}", "/js/flowplayer/flowplayer-3.2.2.swf", {clip: {autoPlay: false, autoBuffering: false}});
                        //flowplayer("player", {src : "/js/flowplayer/flowplayer-3.2.2.swf", wmode: "opaque"});
                    </script>
                {%endif%}
                {#{%if (vc.content_link)%}
                    {{vc.content_link|raw}}
                {%endif%}#}
                {%if (item.images_id)%}
                    {#<a href="/cvideo_controller/detail/{{item.content_id}}" ><img src='/{{getImagesForElement(item.images_id)}}' width= "150px" height='120px'/></a>#}
                    <a class='btn-play' href="/cvideo_controller/detail/{{item.content_id}}" ><img src='/images_module/getImages/{{item.images_id}}/133/120/0'/></a>
                {%else%}    
                    {#<a href="/cvideo_controller/detail/{{item.content_id}}" ><img src='/{{getImagesForElement(item.images_id)}}' width= "150px" height='120px'/></a>#}
                    {#<a href="/cvideo_controller/detail/{{item.content_id}}" ><img src='/images_module/getImages/{{item.images_id}}/133/120'/></a>#}
                {%endif%}
            </div>
            <span class="title"><a href="/cvideo_controller/detail/{{item.content_id}}" >{{writeCuttingText(item.content_title,100)}}</a></span>
            <!--<span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
            <span class="date">{{item.content_datacreates}}</span>
        </div>    
    {%endfor%}
</div>
<hr/>
{%endautoescape%}
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/jquery.sliderPro.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
