<div class="footer"> <!-- footer start -->
    <div class="row"> <!-- row start -->
    {% if(pieses.outLinkDown.property.isRun)%}
        {% include pieses.outLinkDown.property.to_site with {'data': pieses.outLinkDown.data}  %}
    {%endif%}
    </div> <!-- row end -->
</div>