<div class="row"> <!-- row start -->
    <div class="slider col-lg-6" style="margin-bottom: -30px;">
        <!--<ul class="slider-top">
            <li><img src="img/slider-top.jpg" /></li>
            <li><img src="img/slider-top.jpg" /></li>
        </ul>-->
        <div class="carousel-image" id="carousel-top">
            {%for item in data %}
                <div class="item">
                    <img src="/images_module/getPicture/{{item.picture_id}}/480/350" alt=""/>
                    <span class="title">{{writeCuttingText(item.picture_title,18)}}</span>
                </div>
            {%endfor%}
            <!--<div class="item"><img src="img/slider-top.jpg" alt=""></div>-->
        </div>
    </div> <!-- slider end -->
</div> <!-- row end -->