{% set inLinkByColumn = 14 %}
{% for kItem, Item in data %}
    {%if (kItem==0) %}
        <div class="col-lg-1">
            <ul>
    {%elseif ((kItem % inLinkByColumn)==0) and (kItem!=0)%}
            </ul>
        </div>
        <div class="col-lg-1">
            <ul>
    {%endif%}
    <li><a href='{{Item.footerlink_url}}'>{{Item.footerlink_title}}</a></li>
{%endfor%}
            </ul>
        </div>