<div>
    <p>
        <b>{{getCaptionInput('contacts_hotline_title')}}</b>
    </p>
    <ul>
        <li>{{getCaptionInput('caption_phone')}} 0 800 509 001</li>
        <li>{{getCaptionInput('caption_email')}} <a href="mailto:helpdonbass@fdu.org.ua">helpdonbass@fdu.org.ua</a>.</li>
    </ul>
    <p>
        <b>{{getCaptionInput('contacts_presscenter_title')}}</b>
    </p>
    <ul>
        <li>{{getCaptionInput('caption_phone')}} (044) 502 52 12</li>
        <li>{{getCaptionInput('caption_email')}} <a class="u" href="mailto:ttregobchuk@fdu.org.ua">ttregobchuk@fdu.org.ua</a>.</li>
    </ul>
</div>