<div>
<p><b>Горячая линия Гуманитарного штаба Рината Ахметова:</b>
</p><ul>
<li> Телефон: 0 800 509 001
</li><li> Электронный адрес: <a href="mailto:helpdonbass@fdu.org.ua">helpdonbass@fdu.org.ua</a>. 
</li></ul>
<p><b>Телефон прес–служби Гуманітарного штабу Ріната Ахметова:</b>
</p><ul>
<li> Телефон: (044) 502 52 12
</li><li> Електронна адреса: <a class="u" href="mailto:ttregobchuk@fdu.org.ua">ttregobchuk@fdu.org.ua</a>. 
</li></ul>
</div>
