.carousel-video {
	position: relative;
	padding: 0 26px;
}
.carousel-video:before,
.carousel-video:after {
	content: "";
	position: absolute;
	background: #689dff;
	top: 0;
	height: 231px;
	width: 26px;
}
.carousel-video:before {
	left: 0;
	border-radius: 20px 0 0 20px;
}
.carousel-video:after {
	right: 0;
	border-radius: 0 20px 20px 0;
}
.carousel-video img {
	max-width: 100%;
	max-height: 100%;
}
.owl-prev,
.owl-next {
	position: absolute;
	top: 231px;
	width: 53px;
	height: 53px;
	background: #fff;
	border-radius: 22px;
	text-indent: -9999px;
	margin-top: -142px;
	z-index: 2;
}
.owl-prev:after,
.owl-next:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: url('../img/sprite.png') no-repeat;
	width: 22px;
	height: 22px;
	margin: -11px 0 0 -11px;
}
.owl-next:after {background-position: -23px 0;}
.owl-prev {left: 8px;}
.owl-next {right: 8px;}

.carousel-video .title {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 19px;
}
.carousel-video .date {
	display: block;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	margin-top: -12px;
}
.carousel-video .video {
	margin-bottom: 8px;
	position: relative;
}
.carousel-video .btn-play {
	position: absolute;
	text-indent: -9999px;
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(0,0,0,0);
}
.carousel-video .btn-play:hover {
	background: rgba(0,0,0,.1);
}
.carousel-video .btn-play:after {
	cursor: pointer;
	border-radius: 42%;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: url('../img/sprite.png') no-repeat 0 -23px;
	width: 94px;
	height: 94px;
	margin: -47px 0 0 -47px;
}