<link rel="stylesheet" href="/css/output-system.css" type="text/css" />
<link rel="stylesheet" href="/css/forms.css" type="text/css" />
<link rel="stylesheet" href="/css/bl-tree.css" type="text/css" />
<script type="text/javascript" src="/js/info-search.js"></script>
<div class="row top-header">
    <div class="col-lg-6">
        <h2 class='pull-left'>Результат поиска</h2>
    </div>
</div>
<hr/>        
{%if(sub_page.messages.error)%}
    {{sub_page.messages.error|raw}}
{%endif%}    
{#{%if(sub_page.messages.status)%}
    {{sub_page.messages.status|raw}}
{%endif%}#}    
<div id='container_proposal'>
    {#{% include '/menu/menu-start-up.twig' with {'menu': data.search_menu}  %}#}
    {%if (sub_page.search_result) %}
        <div class="bl_tree" id='form-ajax'>
            {%if(sub_page.search_list)%}
                <ul>
                {%for item in sub_page.search_list%}
                    <li class='tree open'>{{item|raw}}<br></li>
                {%endfor%}
                </ul>
            {%endif%}
            {%if (sub_page.search_result.news)%}
                <ul>
                {%for row in sub_page.search_result.news%}
                    <li class='tree open'><a href="/news/CategoryDetail/{{row.category}}">{{row.category_title}}<a></li>
                    {%if (row.sub_tree)%}
                        <ul>
                            {%for sub_row in row.sub_tree%}
                                <li class='tree blogs'><a href="/news/detail/{{sub_row.item_id}}">{{sub_row.item_title}}</a></li>
                            {%endfor%}
                        </ul>    
                    {%endif%}
                {%endfor%}
                </ul>
            {%endif%}
            {%if (sub_page.search_result.blogs)%}
                <ul>
                {%for row in sub_page.search_result.blogs%}
                    <li class='tree open'><a href="/blogs/CategoryDetail/{{row.category}}">{{row.category_title}}<a></li>
                    {%if (row.sub_tree)%}
                        <ul>
                            {%for sub_row in row.sub_tree%}
                                <li class='tree blogs'><a href="/blogs/detail/{{sub_row.item_id}}">{{sub_row.item_title}}</a></li>
                            {%endfor%}
                        </ul>    
                    {%endif%}
                {%endfor%}
                </ul>
            {%endif%}
            {%if (sub_page.search_result.video)%}
                <ul>
                {%for row in sub_page.search_result.video%}
                    <li class='tree open'>{{row.category_title}}</li>
                    {%if (row.sub_tree)%}
                        <ul>
                            {%for sub_row in row.sub_tree%}
                                <li class='tree blogs'><a href="/cvideo_controller/detail/{{sub_row.item_id}}">{{sub_row.item_title}}</a></li>
                            {%endfor%}
                        </ul>    
                    {%endif%}
                {%endfor%}
                </ul>
            {%endif%}
        </div>
    {%endif%}
</div>
<div id='PagingRecord'>
    {#{% set inPageByPagination = (searchList.info.count_record // 12)+1 %}
    {% set inRecordByColumn = 6 %}
    <div class="col-lg-3 article-list">
        {% for item in 0..inRecordByColumn-1 %}
            {%if(searchList.data[item])%} 
                {% include '/search/search-one-record.twig' with {'data': pieses.listProposal.data[item]}  %}
            {%endif%}
        {%endfor%}
    </div>
    <div class="col-lg-3 article-list">
        {% for item in inRecordByColumn-1..inRecordByColumn %}
            {%if(searchList.data[item])%} 
                {% include '/search/search-one-record.twig' with {'data': pieses.listProposal.data[item]}  %}
            {%endif%}
        {%endfor%}
    </div>#}
</div>
<div class="comments-block">
    <div class="row add-comment">
        <h3>{{getCaptionInput('caption_search')}}</h3>
        <form action="/{{(getNameModule(1))?getNameModule(1):'home'}}/goSearch" class="clearfix" id="frmGoSearch" method='get'>
            <input name='inSearch' id='inSearch' type="text" placeholder="{{getCaptionInput('caption_search')}}" value='{{sub_page.insearch}}'/>
            <div class="captcha pull-left clearfix">
                {#<div class="image pull-left">{{getCaptcha()|raw}}
                <input type="text" name="edtCaptcha" id="edtCaptcha" placeholder="{{getCaptionInput('ph_inputcaptcha')}}" />
                </div>#}
            </div>
            <input type="submit" id='btnGoSearch' value="{{getCaptionInput('ph_putsearch')}}" class="pull-right" />
        </form>
    </div>
</div>        