<link rel="stylesheet" href="/css/output-system.css" type="text/css" />
{% autoescape false %}
<div class="spec_people">
    <img src="/{{getImagesForElement(data.images_id)}}" alt="{{data.title}}" width='210px' height='210px' />
    <a href="/expert_help/detail/{{(data.value)}}">{{data.title}}</a>
    <span class='description'>{{getCaptionInput('caption_description')}}</span>
    <p>{{data.text}}</p>
    <div style="clear:both;"></div>
    <a href="/expert_help/add/{{(data.value)}}" id="btnAddQuestion" class="add-article-link pull-left">{{getCaptionInput('button_question_add')}}</a><br />
    <hr />
    <div class="comments-block">
        <div class="row top">
            <div class="col-lg-6">
            <h3 class="pull-left">{{getCaptionInput('caption_question')}}</h3>
            <div class="comments pull-left"><a href="#">{{answer}}</a></div>
            </div>
        </div>
        {%if(data.sub_tree)%}
        {%for item in data.sub_tree%}
            <div class="row comment">
                <div class="col-lg-6 no-padding">
                    <div class="head">{{item.question_title}}<span class="date">&nbsp;{{item.question_date}}</span></div>
                    <div class="text">
                        <p>{{item.question_text}}</p>
                    </div>
                </div>
            </div>
        {%endfor%}
    {%endif%}    
    </div>
    {%if(form)%}
        {{form}}
    {%endif%}
</div>
{%endautoescape%}

