<link rel="stylesheet" href="/css/output-system.css" type="text/css" />
<link rel="stylesheet" href="/css/forms.css" type="text/css" />
<link rel="stylesheet" href="/css/bl-tree.css" type="text/css" />
{% if (output.property.include_js) %}
    <script type="text/javascript" src="/js/{{output.property.include_js}}"></script>
{% endif %}
{% autoescape true %}
<div class="bl_tree" id='form-ajax'>
    {% if (data)%}
        <ul>
        {%for row in data%}
            <li class='tree open'>{{row.title}}</li>
            {%if (row.sub_tree)%}
                {%for item in row.sub_tree%}
                    <div class="spec_people">
                        <img src="/{{getImagesForElement(item.images_id)}}" alt="{{item.title}}" width='210px' height='210px'>
                        <a href="/expert_help/detail/{{(item.value)}}">{{item.title}}</a>
                        <p>{{item.text}}</p>
                    </div>
                    <div style="clear:both;">
                {%endfor%}
            {%endif%}
        {%endfor%}
        </ul>
    {%else%}    
        <h3>{{getCaptionInput('msg_nodata')}}</h3>
    {%endif%}
    {% if (page)%}
        <nav class='pagination'>
            {%for oi in 1..page.count%}
                <div {{(oi==page.active)? 'class=active' : ''}} id='page{{oi}}'><a id='page_{{oi}}' href="/{{page.link_run}}/?page={{oi}}{{page.output_advanced}}">{{oi}}</a></div>
            {%endfor%}
        </nav>
    {%endif%}
</div>
{% endautoescape %}
<script type="text/javascript" src="/js/info-common.js"></script>
    <!--<div class="spec_people">
        <img src="фото специалиска" alt="имя специалиста">
        <a href="ссылка на страницу помощи от этого специалиста">Имя специалиста</a>
        <p>Описание этого специалиста</p>
    </div>-->