{# empty Twig template #}
{#<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">…</div>
        <div class="item">…</div>
        <div class="item">…</div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>#}
<div class="avto">
    <h2>{{data.title}}</h2>
    <hr class="title">
    {%if(data.images_id)%}
        <img class='' id='block-image-{{data.images_id}}' src='/images_module/getImages/{{data.images_id}}/150/150/0'/>
    {%endif%}
    {{data.text| raw}}
</div>