<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{site.ss_charset}}" />
    <meta charset="{{site.ss_charset}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{site.ss_title}}</title>
    <meta name="{{site.ss_title}}" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/jquery.bxslider.css">
    <link rel="stylesheet" href="css/slider-pro.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/carousel-video.css">
</head>
<body>
  <div class="container"> <!-- container start -->
  <div class="row"> <!-- row start -->
  <div class="header"> <!-- header start -->
  <div class="logo col-lg-1">
    <a href="index.html"> <img src="img/logo.png" alt=""></a>
  </div>
  <div class="user-panel col-lg-3"> <!-- user panel start -->
  <div class="user-support">
    <a href="#">регистрация</a>
    <a href="#">забыли пароль?</a>
  </div>
  <div class="search-form"> <!-- search-form start -->
  <form class="form-search">
    <input type="text" placeholder="найти" onfocus="this.placeholder = ''" onblur="this.placeholder = 'найти'" />
    <input type="submit" value="" />
    
  </form>
  </div> <!-- search-form end -->
  <div class="social-icons"> <!-- social icons start -->
  
  <ul>
    <li class="facebook"><a href="#"></a></li>
    <li class="twitter"><a href="#"></a></li>
    <li class="google-plus"><a href="#"></a></li>
    <li class="vkontakte"><a href="#"></a></li>
    <li class="youtube"><a href="#"></a></li>
    <li class="rss"><a href="#"></a></li>
    <li class="mail"><a href="#"></a></li>
  </ul>
  
  </div> <!-- social icons end -->
    {% include 'users/start-up-page.twig' with {'status': user_status} %}
  <div class="lang-change"> <!-- lang-change start -->
  <a class="active" href="#">RU</a>
  <a href="#">UA</a>
  <a href="#">EN</a>
  </div> <!-- lang-change end -->
  </div> <!-- user-panel end -->
  </div> <!-- header end -->
  </div> <!-- row end -->
  <div class="row"> <!-- row start -->
  <div class="header-menu col-lg-6"> <!-- header menu start -->
  <ul class="drop-menu  list-inline"> <!-- drop-menu start -->
        {% for mi in menu %}
            <li {{(mi.sub_tree)?'class="hover-menu"':''}}>
                <a href="{{mi.mi_url}}" url="{{mi.mi_url}}" class="{{mi.active}}">{{mi.mi_title}}</a>
                {% if(mi.sub_tree)%}
                    <ul class="fallback">
                    {% for submi in mi.sub_tree %}
                        <li class="{{(submi.mi_class)?submi.mi_class:''}}"><a href="{{submi.mi_url}}" url="{{submi.mi_url}}" class="{{submi.active}}">{{submi.mi_title}}</a></li>
                    {%endfor%}
                    </ul>
                {%endif%}
            </li>
        {% endfor %}
  <!--<li class="hover-menu">
    <a href="#">Пострадавшим</a>
    <ul class="fallback">
      <li class="first-item"><a href="#">География помощи где получить</a></li>
      <li class="second-item"><a href="#">Попросить помощь</a></li>
      <li class="third-item"><a href="#">Помощь специалиста</a>
      <ul class="special-help">
        <li><a href="#">Помощь психолога</a></li>
        <li><a href="#">Помощь юриста</a></li>
      </ul>
    </li>
    <li class="fourth-item"><a href="#">Часто задаваемые вопросы</a></li>
    <li class="fifth-item"><a href="#">Задать свой вопрос</a></li>
    <li class="sixth-item">
      <a class="data-base" href="#">БАЗА ДАННЫХ Сообщить о пропаже/повреждении имущества</a>
    </li>
  </ul>
</li>-->
</ul> <!-- drop-menu end -->
</div> <!-- header menu -->
</div> <!-- row end -->

  <div class="row"> <!-- row start -->
  
  <hr>
  
  <h1 style="color:#ff0000">{{message_output}}</h1>
  
  <hr>
  
  </div> <!-- row end -->
  <div class="row"> <!-- row start -->
  <div class="content-map col-lg-4"> <!-- content-map start -->
  <span class="title">{{getCaptionInput('caption_text_maps')|raw}}</span>
  <img src="img/map.jpg" alt="">
  </div> <!-- content-map end -->
  <div class="blockquote col-lg-2"> <!-- blockquote start -->
  <span class="title">Цитата</span>
  <div class="blockquote-item">
    <img src="img/quote-avatar.png" alt="">
    <span class="date">08.11.2014 12:09</span>
    <span class="intro">Херсон, по признанию многих, кто побывал там за последнее  время, – черезвычайно патриотичный город.</span>
    <p class="main-text">Хотя, в отличие от Мариуполя, особой стратегической ценности город не представляет: нет крупных промышленных предприятий. <br> <br>
    На въезде в Херсон красуются предвыборные красно-белые плакаты с надписью "Захистимо Херсон" и портретом президента местной федерации бокса Владислава Мангера. Он, как и многие здешние политики, знает, на что "давить": для херсонцев с некоторых пор безопасность стала главным приоритетом. Собственно, оборона Херсона была одним из глав</p>
  </div>
  <div class="blockquote-buttons">
    <div class="icon-rss">
      <a href="#"> <img src="img/icon-rss.png" alt=""></a>
    </div>
    <div class="all-materials">
      <a href="#">{{getCaptionInput('caption_all_matherial')}}</a>
    </div>
  </div>
  </div> <!-- blackquote end -->
  </div> <!-- row end -->
  <div class="row"> <!-- row start -->
  <div class="banners col-lg-6">
    <img src="img/book-of-year.png" alt="">
    </div> <!-- banners end -->
    </div> <!-- row end -->
    <div class="footer"> <!-- footer start -->
    <div class="row"> <!-- row start -->
        {% if(pieses.outLinkDown.property.isRun)%}
            {% include pieses.outLinkDown.property.to_site with {'data': pieses.outLinkDown.data}  %}
        {%endif%}
    </div> <!-- row end -->
    </div> <!-- footer end -->
    <div class="row"> <!-- row start -->
    <div class="footer-bottom"> <!-- footer-bottom end -->
    
    <div class="logo col-lg-1">
      <a href="index.html"> <img src="img/logo-footer.png" alt=""></a>
    </div>
    <div class="copyright col-lg-2">
      <p>© 2014 Допоможемо.tv. Все права защищены</p>
    </div>
    <div class="social-icons foot-icons col-lg-2"> <!-- social-icons start -->
    <ul>
      <li class="facebook"><a href="#"></a></li>
      <li class="twitter"><a href="#"></a></li>
      <li class="google-plus"><a href="#"></a></li>
      <li class="vkontakte"><a href="#"></a></li>
      <li class="youtube"><a href="#"></a></li>
      <li class="rss"><a href="#"></a></li>
      <li class="mail"><a href="#"></a></li>
    </ul>
    
    </div> <!-- social icons end -->
    <div class="footer-banners col-lg-2">
      <a href="#"><img src="img/banner-bigmir.jpg" alt=""></a>
      <a href="#"><img src="img/banner-liveint.jpg" alt=""></a>
    </div>
    </div> <!-- footer-bottom end -->
    </div> <!-- row end -->
    </div> <!-- container end -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/jquery.sliderPro.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/nav.js"></script>
    
  </body>
</html>
