<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{site.ss_charset}}" />
    <meta charset="{{site.ss_charset}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{site.ss_title}}</title>
    <meta name="{{site.ss_title}}" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/jquery.bxslider.css">
    <link rel="stylesheet" href="css/slider-pro.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/carousel-video.css">
</head>
<body>
  <div class="container"> <!-- container start -->
  <div class="row"> <!-- row start -->
  <div class="header"> <!-- header start -->
  <div class="logo col-lg-1">
    <a href="/{{homePage}}"> <img src="img/logo.png" alt=""></a>
  </div>
  <div class="user-panel col-lg-3"> <!-- user panel start -->
  <div class="user-support">
    {#<a href="#">регистрация</a>
    <a href="#">забыли пароль?</a>#}
  </div>
  <div class="search-form"> <!-- search-form start -->
  <form class="form-search">
    <input type="text" placeholder="найти" onfocus="this.placeholder = ''" onblur="this.placeholder = 'найти'" />
    <input type="submit" value="" />
    
  </form>
  </div> <!-- search-form end -->
  <div class="social-icons"> <!-- social icons start -->
  
  <ul>
    <li class="facebook"><a href="#"></a></li>
    <li class="twitter"><a href="#"></a></li>
    <li class="google-plus"><a href="#"></a></li>
    <li class="vkontakte"><a href="#"></a></li>
    <li class="youtube"><a href="#"></a></li>
    <li class="rss"><a href="#"></a></li>
    <li class="mail"><a href="#"></a></li>
  </ul>
  
  </div> <!-- social icons end -->
    {% include 'users/start-up-page.twig' with {'status': user_status} %}
  <div class="lang-change"> <!-- lang-change start -->
  <a class="active" href="/ru">RU</a>
  <a href="/ua">UA</a>
  <a href="/en">EN</a>
  </div> <!-- lang-change end -->
  </div> <!-- user-panel end -->
  </div> <!-- header end -->
  </div> <!-- row end -->
  <div class="row"> <!-- row start -->
  <div class="header-menu col-lg-6"> <!-- header menu start -->
        {% include '/menu/menu-start-up.twig' with {'menu': menu}  %}
    </div> <!-- header menu -->
</div> <!-- row end -->

  <div class="row"> <!-- row start -->
  
  <hr>
  
  <h2 style="">{{message_output}}</h2>
  
  <hr>
  
  </div> <!-- row end -->
  <div class="row"> <!-- row start -->
  <div class="content-map col-lg-4"> <!-- content-map start -->
    <span class="title">{{getCaptionInput('caption_text_maps')|raw}}</span>
      <a href='http://map.dopomozhemo.tv/'><img src="/img/map.jpg" alt=""></a>
  </div> <!-- content-map end -->
  {% include 'common/footer-citates.twig'%}
  
  <div class="row"> <!-- row start -->
  
    </div> <!-- row end -->
    <div class="footer"> <!-- footer start -->
    <div class="row"> <!-- row start -->
    {% if(pieses.outLinkDown.property.isRun)%}
        {% include pieses.outLinkDown.property.to_site with {'data': pieses.outLinkDown.data}  %}
    {%endif%}
    </div> <!-- row end -->
    </div> <!-- footer end -->
    <div class='footer-menu'>
        <div class='row'>
            {% include '/menu/menu-start-up.twig' with {'menu': menu}  %}
        </div>
    </div> <!-- footer menu -->
    <div class="row"> <!-- row start -->
    <div class="footer-bottom"> <!-- footer-bottom end -->
    
    <div class="logo col-lg-1">
      <a href="index.html"> <img src="img/logo-footer.png" alt=""></a>
    </div>
    <div class="copyright col-lg-2">
      <p>© 2014 Допоможемо.tv. Все права защищены</p>
    </div>
    <div class="social-icons foot-icons col-lg-2"> <!-- social-icons start -->
    <ul>
      <li class="facebook"><a href="#"></a></li>
      <li class="twitter"><a href="#"></a></li>
      <li class="google-plus"><a href="#"></a></li>
      <li class="vkontakte"><a href="#"></a></li>
      <li class="youtube"><a href="#"></a></li>
      <li class="rss"><a href="#"></a></li>
      <li class="mail"><a href="#"></a></li>
    </ul>
    
    </div> <!-- social icons end -->
    <div class="footer-banners col-lg-2">
      <a href="#"><img src="img/banner-bigmir.jpg" alt=""></a>
      <a href="#"><img src="img/banner-liveint.jpg" alt=""></a>
    </div>
    </div> <!-- footer-bottom end -->
    </div> <!-- row end -->
    </div> <!-- container end -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/jquery.sliderPro.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/nav.js"></script>
    
  </body>
</html>
