<script type="text/javascript" src="/js/info-common.js"></script>
{% if (form.form_property.include_js) %}
    <script type="text/javascript" src="/js/{{form.form_property.include_js}}"></script>
{% endif %}
{%autoescape false%}
<div class="comments-block">    
    <div class="row add-comment">
        <form enctype='multipart/form-data' id='{{form.form_property.name}}' name='{{form.form_property.name}}' method='{{form.form_property.method}}' action='{{form.form_property.action}}'>
            {% for control in form.form_data %}
                <div class='forms-item'>
                    {% if control.to_control %}
                        {% if (control.to_control.set_type=='div')%}
                            <div class='' id='{{control.to_control.set_name}}'>{{control.caption}}</div>
                        {% elseif (control.to_control.set_type=='a') %}
                                {%set putCss = (control.to_control.set_css)?control.to_control.set_css:''%}
                                <a href="" {{(control.to_control.set_css)?'class="'~control.to_control.set_css~'"':''}} id='{{control.to_control.set_name}}' url="{{control.to_control.set_url}}">{{control.caption}}</a>
                                {%elseif (control.to_control.set_type=='select')%}
                                <label class='tittle'>{{control.caption}}</label>
                                <select id='{{control.to_control.set_name}}' name='{{control.to_control.set_name}}'>
                                    {%for items_select in control.to_control.set_value%}
                                        {#{%for item_select in items_select%}#}
                                        <option value='{{items_select.value}}' {{items_select.active}}>{{items_select.title}}</option>
                                        {#{%endfor%}#}
                                    {%endfor%}
                                </select>
                                    {%elseif (control.to_control.set_type=='textarea')%}
                                        <label class='tittle'>{{control.caption}}{{(control.to_control.set_require)?' (*)':''}}</label>
                                        <textarea name="{{control.to_control.set_name}}" id="{{control.to_control.set_name}}" require="{{control.to_control.set_require}}">{{control.to_control.set_value|trim}}</textarea>
                                        {%elseif (control.to_control.set_type=='checkbox')%}
                                        <div>
                                            <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' 
                                               id='{{control.to_control.set_name}}' {{ control.to_control.set_value == 1 ? 'checked="checked"' : '' }} />
                                            <label class='sufix'>{{control.caption}}{{(control.to_control.set_require)?' (*)':''}}</label>
                                        </div>    
                            {%elseif(control.to_control.set_type=='submit')%}
                                <input type="{{control.to_control.set_type}}" name="{{control.to_control.set_name}}" id="{{control.to_control.set_name}}" value="{{clearHtmlTags(control.caption)}}" />
                            {%else%}
                                {% if (control.to_control.set_type!='hidden') %}
                                    <label class='tittle'>{{control.caption}}{{(control.to_control.set_require)?' (*)':''}}</label>
                                {%endif%}    
                                <input {{control.to_control.set_readonly?'readonly':''}} type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' require="{{control.to_control.set_require}}" value='{{control.to_control.set_value}}' />
                            {%endif%}
                    {%else%}            
                        {{control.caption|raw}}
                    {% endif %}
                </div>
            {%endfor%}
        </form>
    </div>
</div>                
{% endautoescape %}

