<link rel="stylesheet" href="/css/output-system.css" type="text/css" />
<link rel="stylesheet" href="/css/forms.css" type="text/css" />
<script type="text/javascript" src="/js/tinymce-jquery/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="/js/tinymce-jquery/tinymce.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#UploadButton").uploadFile({
            url:"/images_module/ajax_upload",
            allowedTypes:"png,gif,jpg,jpeg",
            fileName:"img_file",
            showProgress:false,
            showDone:false,
            ahowAbort:false,
            dragDrop:false,
            uploadButtonClass:'button-base orange whide',
            returnType:'json',
            onSuccess:function(files,data,xhr) {
                var outRes="";
                $(".ajax-file-upload-statusbar").hide();
                //$('#divStatus').html("<img src='/"+data+"' width='100%' height='100%' />");
                $.each(data,function(inKey,inData){
                    outRes = outRes+inKey+ " "+inData+"<br>";
                    if(inKey=='rec-no') {
                       $("#images_id").val(inData);
                    };
                    if(inKey=='rec-name') {
                        $("[id^='preview-image-']").attr('src',"/"+inData);
                        //$('#divStatus').html("<img src='/"+inData+"' width='100%' height='100%' />");
                    }
                })
                //$('#divStatus').html(outRes);
            },
            onError: function (files, status, message) {
                $('#divStatus').html(files+"<br>"+status+"<br>"+message);
            },
            onSubmit:function(files, xhr) {
                var outRes="<ul>";
                $.ajax({
                    type: 'POST',
                    url:"/images_module/ajax_upload_clean",
                    //dataType: 'json',
                    data:{process: 'images-upload-clean', images_id:$("#images_id").val()},
                    success: function(Responce) {
                        //alert(Responce);
                        $.each(Responce,function(inKey,inData){
                            outRes=outRes+"<li>"+inKey+":"+inData+"</li>";
                        });
                    }
                });
                outRes=outRes+"</ul>";
                //$('#divStatus').html(outRes);
            }
        });
    });
</script>
{% if (form.form_property.include_js) %}
    <script type="text/javascript" src="/js/{{form.form_property.include_js}}"></script>
{% endif %}

    <div id="form-ajax-system" class="row add-comment">    
        {{sub_page_message}}
        <form enctype='multipart/form-data' id='{{form.form_property.name}}' name='{{form.form_property.name}}' method='{{form.form_property.method}}' action='{{form.form_property.action}}'>
            {% for control in form.form_data %}
                <div class='forms-item'>
                    {% if control.to_control %}
                        {% if (control.to_control.set_type=='include_image')%}
                            <input type='hidden' id='images_id' name='images_id' value='{{control.to_control.set_value}}'>
                            <div class="image_upload">
                                <div class='preview' id="divStatus">
                                    <img id='preview-image-{{control.to_control.set_value?control.to_control.set_value:'0'}}' 
                                        src='/{{getImagesForElement(control.to_control.set_value)}}' width='100%' height='100%' />
                                </div>
                                <a href="#" id="UploadButton">Загрузить картинку</a>
                                {%if(control.to_control.set_value!=0)%}
                                    <a href="#" id="btnClearImageElement" class='button-base red whide' for='{{control.to_control.set_for}}'>Удалить картинку</a>
                                {%endif%}
                            </div>
                            <div style='clear:both;'></div>    
                        {%elseif (control.to_control.set_type=='a')%}   
                            {%set putCss = (control.to_control.set_css)?control.to_control.set_css:''%}
                            <a href="" id='{{control.to_control.set_name}}' url="{{control.to_control.set_url}}" class='{{putCss}}'>{{control.caption}}</a>
                            {%elseif (control.to_control.set_type=='select')%}
                                <label class='tittle'>{{control.caption}}</label>
                                    <select id='{{control.to_control.set_name}}' name='{{control.to_control.set_name}}'>
                                        {%for items_select in control.to_control.set_value%}
                                            <option value='{{items_select.value}}' {{items_select.active}}>{{items_select.title}}</option>
                                        {%endfor%}
                                    </select>
                                {%elseif(control.to_control.set_type=='textarea')%}
                                    <label class='tittle'>{{control.caption}}{{(control.to_control.set_require)?' (*)':''}}</label>
                                    <textarea name="{{control.to_control.set_name}}" id="{{control.to_control.set_name}}" require="{{control.to_control.set_require}}" rows="5" cols="10">{{control.to_control.set_value|trim}}</textarea>
                                    {%elseif(control.to_control.set_type=='checkbox')%}
                                        <div>
                                            <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' 
                                               id='{{control.to_control.set_name}}' {{ control.to_control.set_value == 1 ? 'checked="checked"' : '' }} />
                                            <label class='sufix'>{{control.caption}}{{(control.to_control.set_require)?' (*)':''}}</label>
                                        </div>
                                        {%elseif(control.to_control.set_type=='submit')%}
                                            <input type="{{control.to_control.set_type}}" name="{{control.to_control.set_name}}" id="{{control.to_control.set_name}}" value="{{control.caption}}" />
                                            {%elseif(control.to_control.set_type=='separator')%}
                                            <hr/>
                                            {%elseif (control.to_control.set_type=='hidden') %}
                                                <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' require="{{control.to_control.set_require}}" value='{{control.to_control.set_value}}' />    
                                            {%else%}
                                                <label class='tittle'>{{control.caption}}{{(control.to_control.set_require)?' (*)':''}}
                                                    {%if(control.to_control.set_length)%}
                                                        &nbsp Осталось:(<span base='{{control.to_control.set_length}}' id='span_{{control.to_control.set_name}}'>{{control.to_control.set_length}}</span>)
                                                    {%endif%}
                                                </label>
                                                <input {{(control.to_control.set_readonly)?"readonly":''}} type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' require="{{control.to_control.set_require}}" value='{{control.to_control.set_value}}' />    
                        {%endif%}    
                    {%endif%}        
                </div>
            {%endfor%}
        </form>
        
    </div>

<script type="text/javascript" src="/js/info-common.js"></script>
{#
{% elseif (control.to_control.set_type=='a') %}
                                
                                {%elseif %}
                                    <label class='tittle'>{{control.caption}}</label>
                                    <select id='{{control.to_control.set_name}}' name='{{control.to_control.set_name}}'>
                                        {%for items_select in control.to_control.set_value%}
                                            <option value='{{items_select.value}}' {{items_select.active}}>{{items_select.title}}</option>
                                        {%endfor%}
                                    </select>
                                    {%elseif %}
                                        
                                        {%elseif (control.to_control.set_type=='checkbox')%}
                                            <div>
                                                <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' 
                                                   id='{{control.to_control.set_name}}' {{ control.to_control.set_value == 1 ? 'checked="checked"' : '' }} />
                                                <label class='sufix'>{{control.caption}}{{(control.to_control.set_require)?' (*)':''}}</label>
                                            </div>    
                        {%else%}
                                {% if (control.to_control.set_type!='hidden') %}
                                <label class='tittle'>{{control.caption}}{{(control.to_control.set_require)?' (*)':''}}
                                    {%if(control.to_control.set_length)%}
                                        &nbsp Осталось:(<span base='{{control.to_control.set_length}}' id='span_{{control.to_control.set_name}}'>{{control.to_control.set_length}}</span>)
                                    {%endif%}
                                </label>
                                {%endif%}    
                                <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' require="{{control.to_control.set_require}}" value='{{control.to_control.set_value}}' />
                            {%endif%}
                    {%else%}            
                        {{control.caption|raw}}
                    {% endif %}
#}