<script type="text/javascript" src="/js/tinymce-jquery/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="/js/tinymce-jquery/tinymce.min.js"></script>
<script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
<script type="text/javascript">
    $(document).ready(function(){
        /**/
        if($("[input-date-time='true']").length>0) {
            $("[input-date-time='true']").datetimepicker({
                inline: true,
                sideBySide: true,
                language: 'ru',
                format: 'YYYY-MM-DD HH:MM'
            });
        }
        //
        if($("#content_file").length>0) {
            $("#content_file").fileinput({
                showUpload:true, 
                uploadTitle:'Загрузка', 
                maxFileCount: 10,
                allowedFileTypes: ["video"],
            });
        }
        /*загрузка изображений*/
        $inPicture = '{{testOut()}}';
        $("#UploadButton").uploadFile({
            url:"/images_module/ajax_upload",
            allowedTypes:"png,gif,jpg,jpeg",//типы файлов
            fileName:"img_file", //имя при аплоаде
            showProgress:false,
            showDone:false,
            ahowAbort:false,
            dragDrop:false,
            uploadButtonClass:'btn btn-sm btn-primary btn-block btn-color-02', // класс кнопки загрузить из боотстрапа
            returnType:'json', // результат после записи
            onSuccess:function(files,data,xhr) { // все прошло нормально
                //alert(files);
                var outRes="";
                $(".ajax-file-upload-statusbar").hide(); // прячем процесс загрузки
                //$('#divStatus').html("<img src='/"+data+"' width='100%' height='100%' />");
                //разбираем джейсон по пунктам
                $.each(data,function(inKey,inData){
                    outRes = outRes+inKey+ " "+inData+"<br>";
                    if(inKey=='rec-no') {
                       $("#images_id").val(inData);
                       // загружаем в превью с сохранением масштаба но ширине (0-ширина 1 высота) последгий параметр
                       $("[id^='preview-image-']").attr('src',"/images_module/getImages/"+inData+"/200/200/1");
                    };
                    if(inKey=='rec-name') { 
                    }
                })
                //$('#divStatus').html(outRes);
            },
            onError: function (files, status, message) {
                $('#divStatus').html(files+"<br>"+status+"<br>"+message);
            },
            onSubmit:function(files, xhr) {
                var outRes="<ul>";
                $.ajax({
                    type: 'POST',
                    url:"/images_module/ajax_upload_clean",
                    //dataType: 'json',
                    data:{process: 'images-upload-clean', images_id:$("#images_id").val()},
                    success: function(Responce) {
                        //alert(Responce);
                        $.each(Responce,function(inKey,inData){
                            outRes=outRes+"<li>"+inKey+":"+inData+"</li>";
                        });
                    }
                });
                outRes=outRes+"</ul>";
                //$('#divStatus').html(outRes);
            }
        });
        if($("[input-chk-digits='true']").length>0) {
            $("[input-chk-digits='true']").on({
                keydown:function(aEvent) {
                    if  (aEvent.keyCode == 46 || aEvent.keyCode == 8 || aEvent.keyCode == 9 || aEvent.keyCode == 27 || (aEvent.keyCode == 65 && aEvent.ctrlKey === true) ||
                            (aEvent.keyCode >= 35 && aEvent.keyCode <= 39)) { return; } 
                        else {
                            if  ((aEvent.keyCode < 48 || aEvent.keyCode > 57) && (aEvent.keyCode < 96 || aEvent.keyCode > 105 )) {
                                aEvent.preventDefault();
                            }
                        }
                }, 
            })
        }; 
    });
</script>
{% if (form.form_property.include_js) %}
    {# загрузка джава скрипта по утсановкам #}
    <script type="text/javascript" src="/js/{{form.form_property.include_js}}"></script>
{% endif %} 
{%autoescape true%}
<div id="input-form-ajax" class="top-margin-0"> 
    {{sub_page_message}} {# вывод сообщения о статусе или ошибке #}
    <form class='form-horizontal' enctype='multipart/form-data' id='{{form.form_property.name}}' name='{{form.form_property.name}}' method='{{form.form_property.method}}' action='{{form.form_property.action}}'>
        {# разбираем пог типам ввода html#}
        {% for control in form.form_data %}
        {#<div class='forms-item'>#}
            {%if(control.to_control.set_type=='submit')%}
                <hr>
                <input type="{{control.to_control.set_type}}" name="{{control.to_control.set_name}}" id="{{control.to_control.set_name}}" class="btn btn-success btn-lg {{control.to_control.set_css?control.to_control.set_css:''}}" value='{{control.caption}}'/>
            {%endif%}
            {%if (control.to_control.set_type=='hidden') %}
                <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' require="{{control.to_control.set_require}}" value='{{control.to_control.set_value}}' /> 
            {%endif%} 
            {%if (control.to_control.set_type=='text')%}
            <div class='form-group'>
                <label for="{{control.to_control.set_name}}" class="col-sm-3 control-label {{(control.set_css)?control.set_css:''}}">{{control.caption}}</label>
                    <div class="col-sm-9">
                        <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' 
                            {{(control.to_control.set_require)?'required':''}} value='{{control.to_control.set_value}}' 
                            autofocus class="form-control {{control.to_control.set_css?control.to_control.set_css:''}}" 
                            placeholder="{{control.caption}}"
                            require="{{control.to_control.set_require}}"/>
                    </div>
            </div>
            {%endif%} 
            {%if (control.to_control.set_type=='file')%}
            <div class='form-group'>
                <label for="{{control.to_control.set_name}}" class="col-sm-3 control-label {{(control.set_css)?control.set_css:''}}">{{control.caption}}</label>
                    <div class="col-sm-9">
                        <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' {{(control.to_control.set_require)?'required':''}} value='{{control.to_control.set_value}}' autofocus multiple=true class="file-loading form-control {{control.to_control.set_css?control.to_control.set_css:''}}" placeholder="{{control.caption}}"/>
                    </div>
            </div>
            {%endif%}     
            {%if (control.to_control.set_type=='password') %}
            <div class="form-group">
                <label for="{{control.to_control.set_name}}" class="col-sm-3 control-label {{(control.set_css)?control.set_css:''}}">{{control.caption}}</label>
                <div class="col-sm-9">
                    <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' {{(control.to_control.set_require)?'required':''}} value='{{control.to_control.set_value}}' autofocus class="form-control {{control.to_control.set_css?control.to_control.set_css:''}}" placeholder="{{control.caption}}"/>
                </div>
            </div>    
            {%endif%} 
            {%if (control.to_control.set_type=='textarea') %}
            <div class="form-group">
                <label for="{{control.to_control.set_name}}" class="col-sm-3 control-label {{(control.set_css)?control.set_css:''}}">{{control.caption}}</label>
                <div class="col-sm-9">
                    <textarea name="{{control.to_control.set_name}}" id="{{control.to_control.set_name}}" {{((control.to_control.set_require)?'required':'')}} rows="5" cols="10">{{control.to_control.set_value|trim}}</textarea>
                </div>
            </div>    
            {%endif%} 
            {%if (control.to_control.set_type=='checkbox') %}    

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label class='{{(control.set_css)?control.set_css:''}}'>
                          <input type="{{control.to_control.set_type}}" name="{{control.to_control.set_name}}" {{(control.to_control.set_value>0)?'checked':''}}>{{control.caption}}
                        </label>
                    </div>
                </div>            
            </div>    
            {%endif%}    
            {%if (control.to_control.set_type=='select') %}    
            <div class="form-group">
                <label for="{{control.to_control.set_name}}" class="col-sm-3 control-label {{(control.set_css)?control.set_css:''}}">{{control.caption}}</label>
                <div class="col-sm-9">
                    {%set echoDisale = (control.to_control.set_readonly)?'disabled':''%}
                    <select {{echoDisale}} id='{{control.to_control.set_name}}' name='{{control.to_control.set_name}}' autofocus class="form-control {{control.to_control.set_css?control.to_control.set_css:''}}">
                        {%for items_select in control.to_control.set_value%}
                            {#{%for item_select in items_select%}#}
                            <option {{echoDisale}} value='{{items_select.value}}' {{items_select.active}}>{{items_select.title}}</option>
                            {#{%endfor%}#}
                        {%endfor%}
                    </select>
                </div>
            </div>
            {%endif%}                
            {%if (control.to_control.set_type=='h2')%}
                <h2 class="{{control.to_control.set_css}}">{{control.caption}}</h2>
            {%endif%}
                {%if (control.to_control.set_type=='numeric')%}
                <div class="form-group">
                <label class="col-sm-3 control-label {{(control.set_css)?control.set_css:''}}" for="{{control.to_control.set_name}}">{{control.caption}}</label>
                    <div class="input-group num-skin-01">
                      <div class="input-group-addon">руб.</div>
                      <input type="text" class="form-control {{control.to_control.set_css?control.to_control.set_css:''}}" 
                            name="{{control.to_control.set_name}}" id="{{control.to_control.set_name}}" placeholder="{{control.caption}}"
                            require="{{control.to_control.set_require}}" 
                            input-chk-digits="true" input-chk-digits-message="Ошибка ввода. ()"
                            value='{{control.to_control.set_value}}'
                            />
                      <div class="input-group-addon">.00</div>
                    </div>
                </div>      
                {%endif%}
            {% if (control.to_control.set_type=='include_image')%}
                <input type='hidden' id='images_id' name='images_id' value='{{control.to_control.set_value}}'>
                <div class="image-upload">
                    <div class='preview' id="divStatus">
                        <img id='preview-image-{{control.to_control.set_value?control.to_control.set_value:'0'}}' 
                            src='/images_module/getImages/{{control.to_control.set_value}}/150/150/1'/>
                    </div>
                    <a href="#" id="UploadButton">Загрузить картинку</a>
                    {%if(control.to_control.set_value!=0)%}
                        <a href="#" id="btnClearImageElement" class='btn btn-sm btn-primary btn-block btn-color-01' for='{{control.to_control.set_for}}'>Удалить картинку</a>
                    {%endif%}
                </div>
                <div style='clear:both;'></div> 
            {%endif%}  
            {%if (control.to_control.set_type=='datepicker')%}
            {{control.to_control.set_extended}}
                <div class="form-group">
                    <label for="{{control.to_control.set_name}}" class="col-sm-4 control-label {{(control.set_css)?control.set_css:''}}">{{control.caption}}</label>
                        <div class="input-group date col-sm-8 {{control.to_control.set_css?control.to_control.set_css:''}}" {{control.to_control.set_extended}}>
                            <input type="text" class="form-control input-skin-01" name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' {{(control.to_control.set_require)?'required':''}} value='{{control.to_control.set_value}}' autofocus multiple=true class="file-loading form-control {{control.to_control.set_css?control.to_control.set_css:''}}" placeholder="{{control.caption}}"/>
                            <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                            </span>
                        </div>
                </div>
            {%endif%}     
        {%endfor%}
    </form>
</div>
{%endautoescape%}