<link rel="stylesheet" href="/css/output-system.css" type="text/css" />
<link rel="stylesheet" href="/css/forms.css" type="text/css" />
<script type="text/javascript" src="/js/jquery.uploadfile.min.js"></script>
{% if (output.property.include_js) %}
    <script type="text/javascript" src="/js/{{output.property.include_js}}"></script>
{% endif %}
{% autoescape true %}
<div class="divOutputBox">
    <table>
        {% if (output.titles)%}
            <tr>
            {% for tr in output.titles %}
                {% if(tr.size>0)%}
                    <th width='{{tr.size}}'>{{tr.title}}</th>
                {%else%}
                    <th>{{tr.title}}</th>
                {%endif%}
            {%endfor%}
            </tr>
        {%endif%}
        {% if (data)%}
            {% for ov in data %}
                <tr>
                {% for td in output.data %}
                    {%if(td=='action')%}
                        <td class="centers">{{ov[td]|raw}}</td>
                    {%else%}
                        <td class="centers">{{ov[td]|raw}}</td>
                    {%endif%}
                {%endfor%}    
                </tr>
            {%endfor%}
        {%endif%}
    </table>
</div>
{% endautoescape %}
<script type="text/javascript" src="/js/info-common.js"></script>

