<nav>
    <ul class="pagination pull-left">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {%for oi in 0..page.count-1%}
            <li class='{{(page.active==(oi+1))?'active':''}}'><a id='page_{{oi+1}}' href="/{{page.link_run}}/?page={{oi+1}}{{page.output_advanced}}">{{oi+1}}</a></li>
        {%endfor%}
        <li class='disabled'>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
