{%if(page.tabs)%}
    {#иницируем массив для формирования списка подконтрольных дивов#}
    <h2 class='text-cl-black top-margin-01'>{{page.tabs.property.title}}</h2>
    <div class="btn-group btn-group-justified">
        {%for key,item in page.tabs.data%}
            {%if key!='default'%}
                <div class="btn-group">
                  <button id="{{key}}" type="button" class="btn btn-default btn-noborder" href="{{item.url}}" url="{{item.url}}">{{item.title}}</button>
                </div>
            {%endif%}
        {%endfor%}
    </div>
    <div id='form-ajax'>
        
    </div>
    <nav id="paging_show" style="display:none;">
        <ul class="pagination pull-left">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {%for oi in 0..page.count-1%}
                <li class='{{(page.active==(oi+1))?'active':''}}'><a id='page_{{oi+1}}' href="/{{page.link_run}}/?page={{oi+1}}{{page.output_advanced}}">{{oi+1}}</a></li>
            {%endfor%}
            <li class='disabled'>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {{sub_page_message|raw}}
{%endif%}
<script type="text/javascript">
    $(document).ready(function(){
        {%if(page.tabs.data.default)%}
            var inUrl =  '{{page.tabs.data.default}}';
            $("#form-ajax").load(inUrl,function(){
                $("#paging_show").show();
            });
        {%endif%}
    })
</script>
{%if(page.tabs.property.include_js)%}
    <script type="text/javascript" src="/js/{{page.tabs.property.include_js}}"></script>
{%endif%}