<link rel="stylesheet" href="/css/output-system.css" type="text/css" />
<link rel="stylesheet" href="/css/forms.css" type="text/css" />
<link rel="stylesheet" href="/css/bl-tree.css" type="text/css" />
{% if (output.property.include_js) %}
    <script type="text/javascript" src="/js/{{output.property.include_js}}"></script>
{% endif %}
{% autoescape false %}
<div class="bl_tree" id='form-ajax'>
    {% if (data)%}
        <ul>
        {%for row in data%}
            <li class='tree open'>{{row.title}}<div>{{row.action ? row.action | raw : ''}}</div></li>
            {%if (row.sub_tree)%}
                <ul>
                    {%for sub_row in row.sub_tree%}
                        <li class='tree blogs'>{{writeCuttingText(sub_row.title,60)}}<div>{{sub_row.action ? sub_row.action | raw : 'нет' | raw}}</div></li>
                    {%endfor%}
                </ul>    
            {%endif%}
        {%endfor%}
        </ul>
    {%else%}    
        
    {%endif%}
    {% if (page)%}
        <nav class='pagination'>
            {%for oi in 1..page.count%}
                <div {{(oi==page.active)? 'class=active' : ''}} id='page{{oi}}'><a id='page_{{oi}}' href="/{{page.link_run}}/?page={{oi}}{{page.output_advanced}}">{{oi}}</a></div>
            {%endfor%}
        </nav>
    {%endif%}
</div>
{% endautoescape %}
<script type="text/javascript" src="/js/info-common.js"></script>
{% if (output.property.include_js) %}
    <script type="text/javascript" src="/js/{{output.property.include_js}}"></script>
{% endif %}

