{% autoescape false %}
    <div class='tree' style='margin-left: 20px;'>
    {% if (page.data)%}
        <ul>
        {%for row in page.data%}
            <li class='root {{(row.sub_tree)?'open':'close'}}'>
                <div class='container'>
                    <div class='title'>{{row.title}}</div>
                    <div class="action">{{row.action ? row.action | raw : ''}}</div>
                </div>
            </li>
            {%if (row.sub_tree)%}
                <ul>
                    {%for key,sub_row in row.sub_tree%}
                        <li class='level-01 {{((key%2)==0)?'text-cl-odd':'text-cl-even'}} {{(sub_row.sub_tree)?'open':'close'}}'>
                            <div class='container'>
                                <div class='title left-padding-1'>{{writeCuttingText(sub_row.title,60)}}</div>
                                <div class="action">{{sub_row.action ? sub_row.action | raw : 'нет' | raw}}</div>
                            </div>
                        </li>
                        {%if (sub_row.sub_tree)%}
                            <ul>
                                {%for sub_row_key,sub_row_item in sub_row.sub_tree%}
                                    <li class='level-02 {{((sub_row_key%2)==0)?'text-cl-odd':'text-cl-even'}}'>
                                        <div class='container'>
                                            {%if(sub_row_item.sub_tree.child)%}
                                                <div class='title left-padding-2'><a href='{{sub_row_item.sub_tree.child}}' title='{{sub_row_item.sub_tree.caption}}'>{{writeCuttingText(sub_row_item.title,60)}}</a></div>
                                            {%else%}
                                                <div class='title left-padding-2'>{{writeCuttingText(sub_row_item.title,60)}}</div>
                                            {%endif%}
                                            <div class="action">{{sub_row_item.action ? sub_row_item.action | raw : 'нет' | raw}}</div>
                                        </div>
                                    </li>
                                {%endfor%}
                            </ul>
                        {%endif%}
                    {%endfor%}
                </ul>    
            {%endif%}
        {%endfor%}
        </ul>
    {%else%}    
        <ul>
            <li class='root'>Элементы отсутствуют. Необходимо провести добавление.<div class="action">{{row.action ? row.action | raw : ''}}</div></li>
            {#<a href="#" id='btnAddItem' name='btnAddItem' class='btn btn-lg btn-primary btn-block'></a>#}
        </ul>
    {%endif%}
    </div>
    {% if (page.property.count)%}
        <nav class='pagination'>
            {%for oi in 1..page.count%}
                {#<div {{(oi==page.active)? 'class=active' : ''}} id='page{{oi}}'><a id='page_{{oi}}' href="/{{page.link_run}}/?page={{oi}}{{page.output_advanced}}">{{oi}}</a></div>#}
            {%endfor%}
        </nav>
    {%endif%}

{{sub_page_message}}    
{% endautoescape %}
{{page.setup_page.property.include_js}}
<script type="text/javascript" src="/js/{{page.setup_page.property.include_js}}"></script>
<script type="text/javascript" src="/js/info.common.js"></script>