<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->language; ?>" lang="<?php echo $this->language; ?>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--
    <link rel="stylesheet" href="/css/system.css" type="text/css" />
    <link rel="stylesheet" href="/css/general.css" type="text/css" />
    <link rel="stylesheet" href="/css/template.css" type="text/css" />
    <link rel="stylesheet" href="/css/typo.css" type="text/css" />
    -->
    <link rel="stylesheet" href="/css/administration-v2.css" type="text/css" />
    <link rel="stylesheet" href="/css/menu-v2.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.11.1.js"></script>
    <script type="text/javascript" src="/js/info-administration.js"></script>
</head>
<body id="bd" class='wide fs3' style='background-image: url(/images/bg-body-simple.png);'>
<a name="Top" id="Top"></a>
<!--<ul class="accessibility">
	<li><a href="<?php echo $tmpTools->getCurrentURL();?>#admin-content" title="<?php echo JText::_("Skip to content");?>"><?php echo JText::_("Skip to content");?></a></li>
	<li><a href="<?php echo $tmpTools->getCurrentURL();?>#admin-mainnav" title="<?php echo JText::_("Skip to main navigation");?>"><?php echo JText::_("Skip to main navigation");?></a></li>
	<li><a href="<?php echo $tmpTools->getCurrentURL();?>#admin-col1" title="<?php echo JText::_("Skip to 1st column");?>"><?php echo JText::_("Skip to 1st column");?></a></li>
	<li><a href="<?php echo $tmpTools->getCurrentURL();?>#admin-col2" title="<?php echo JText::_("Skip to 2nd column");?>"><?php echo JText::_("Skip to 2nd column");?></a></li>
</ul>-->
<div id="admin-wrapper">
    <div id="admin-topbar" class="clearfix">
	<div id="admin-pathway">
		<strong>Вы находитесь:</strong>
	</div>
        {%if(countModules('module_search'))%}
            <div id="admin-search" class="clearfix">
                search
            </div>
        {%endif%}
    </div>
    <!-- BEGIN: HEADER -->
    <div id="admin-header" class="clearfix">
	<div class="logo-text">
            <p class="site-slogan">{{slogan}}</p>
            <h1>
                <a href="#" title=""><span>{{title}}</span></a>	
            </h1>
	</div>
	
	<div id="admin-login">
            {% include 'users/start-up-page.twig' with {'status': user_status} %}
	</div>
	
    </div>
    <!-- END: HEADER -->
    <!-- BEGIN: MAIN NAVIGATION -->
    {% set hasSubMenu=''%}
    <div id="admin-mainnav">
        <ul id='admin-cssmenu'>
        {% for mi in menu %}
            <li class='{{mi.active}}'><a href="{{mi.mi_url}}" url="{{mi.mi_url}}">{{mi.mi_title}}</a></li>
            {% if ((mi.sub_tree) and (mi.active=='active')) %}
                {% set hasSubMenu = mi.sub_tree %}
            {%endif%}
        {% endfor %}
        </ul>
    </div>
    {% if (hasSubMenu) %}
        <div id="admin-subnav">
            <ul id='admin-csssubmenu'>
            {% for submi in hasSubMenu %}
                <li class='{{submi.active}}'><a href="{{submi.mi_url}}" url="{{submi.mi_url}}">{{submi.mi_title}}</a></li>
            {% endfor %}    
            </ul>
        </div>
    {%endif%}
    <!-- END: MAIN NAVIGATION -->
    
    <div id="admin-containerwrap{{div_loaded_id}}">
        <div id="admin-container" class="clearfix">
            <div id="admin-mainbody" class="clearfix">
                    <!-- BEGIN: CONTENT -->
                    <!--<div id="admin-content">
                        <div id="admin-content-top">
                            <div id="admin-content-bot" class="clearfix">
                                Message
                                <div id="admin-current-content" class="clearfix">
                                    component
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- END: CONTENT -->
                    {% if (column_left) %}
                        <!-- BEGIN: LEFT COLUMN -->
                        <div id="admin-col1">
                            <div class="admin-innerpad">
                                    admin_left
                            </div>
                        </div><br />
                        <!-- END: LEFT COLUMN -->
                    {%endif%}
                    {%if(countModules('module_banner'))%}
                    <div id="admin-banner">
                            banner
                    </div>
                    {%endif%}
                    {%if(countModules('module_tabs'))%}
                    <!-- BEGIN: TABS -->
                    <div id="admin-tabs" class="clearfix">
                            tabs
                    </div>
                    <!-- END: TABS-->
                    {%endif%}
            </div>
            {% if (column_right) %}
            <!-- BEGIN: RIGHT COLUMN -->
            <div id="admin-col2">
                <div class="admin-innerpad">
                        admin_right
                </div>
            </div><br />
            <!-- END: RIGHT COLUMN -->
            {%endif%}
        </div>
    </div>
<!-- BEGIN: FOOTER -->
<!-- END: FOOTER -->

</body>
</html>
