{%autoescape false%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/administration.css" type="text/css" />
    <link rel="stylesheet" href="/css/buttons.css" type="text/css" />
    <link rel="stylesheet" href="/css/output-system.css" type="text/css" />
    
    <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.11.1.js"></script>
    <!--<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/js/ckeditor/adapters/jquery.js"></script>-->
    <script type="text/javascript" src="/js/ajax_upload/jquery.uploadfile.js"></script>
    <script type="text/javascript" src="/js/tinymce-jquery/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="/js/tinymce-jquery/tinymce.min.js"></script>
    <!--<script type="text/javascript" src="/js/info-administration.js"></script>-->
</head>
<body>
    <div id="wrapper">
        {% set outSubMenu = '' %}
        <div class='header_main'>
            <div class='header_main header_override'>
                <span class="header"></span>
                <span class="title">{{title}}</span>
            </div>
        </div>
            <div class='div_separator'>
                
            </div>
        <div class='div_menu fill'>
            {#{% if(user_status!='start')%}
                <a class='button-base red right' href="/administration/users/logOut" id="btnUserLogOut" url="/administration/users/logOut">Выйти</a>
            {% endif %}#}
            {% if(menu)%}
                {% for mi in menu %}
                    <a class="{{(mi.mi_class)?mi.mi_class: 'button-base orange'}} {{(mi.active)?'active':''}}" href="{{mi.mi_url}}" url="{{mi.mi_url}}">{{mi.mi_title_ru}}</a>
                {% endfor%}
            {%endif%}
        </div>
            <div class='div_separator'>
                
            </div>
        <div class="parent">
            <div class='content-left'>
                {%if(content.left)%}
                    {{content.left|raw}}
                {%endif%}
                <div class='div_menu'>
                    {%if(menu)%}
                        {% for mi in menu %}
                            {%if((mi.sub_tree)and(mi.active))%}
                                <ul>
                                    {%for smi in mi.sub_tree%}
                                        <li><a class="sub-element {{(smi.active)?'active':''}}" href="{{smi.mi_url}}" url="{{smi.mi_url}}">{{smi.mi_title_ru}}</a></li>
                                    {%endfor%}    
                                </ul>
                            {%endif%}
                        {%endfor%}
                    {%endif%}
                </div>
            </div>
            <div class='content-right'>
                {%if(content.page_message.error)%}
                    {{content.page_message.error}}
                {%endif%}   
                {%if(content.page_message.success)%}
                    {{content.page_message.success}}
                {%endif%}   
                {% if(content.right)%}
                    {{content.right|raw}}
                {%endif%}
            </div>
        </div>
    </div>
            <div class='div_bottom'>
                
            </div>
</body>
</html>
{%endautoescape%}