<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/administration.css" type="text/css" />
    <link rel="stylesheet" href="/css/buttons.css" type="text/css" />
    
    <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.11.1.js"></script>
    <script type="text/javascript" src="/js/info-administration.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class='header_main'>
            <div class='header_main header_override'>
                <span class="header"></span>
                <span class="title">{{title}}</span>
            </div>
        </div>
        <div class='div_separator'></div>
        <div class='div_menu'>
            {% for mi in menu %}
                <a class='button-base orange {{mi.active}}' href="{{mi.mi_url}}" url="{{mi.mi_url}}">{{mi.mi_title}}</a>
            {% endfor %}
            {% if(user_status!='start')%}
                <a class='button-base red right' href="#" id="btnUserLogOut" url="{{mi.mi_url}}">Выйти</a>
            {% endif %}
        </div>
        
            {% for mi in menu %}
                {% if (mi.active!='') %}
                    {% if (mi.sub_tree) %}
                        <div class='div_menu'>
                        {% for submi in mi.sub_tree %}
                            <a class='sub-element {{submi.active}}' id='submi-{{submi.menu_id}}' href="#" url="{{submi.mi_url}}">{{submi.mi_title}}</a>
                        {% endfor %}    
                        </div>
                    {% else %}    

                    {% endif %}    
                {% endif %}    
            {% endfor %} 
        
        <div class='div_separator'></div>
        <div class="parent">
            {% if(tabs_run) %}
                {% include tabs_run.property.template with {'data' : tabs_run.data} %}
            {% endif%}    
        </div>
    </div>
    <div class='div_bottom'></div>
</body>
</html>
