{%autoescape false%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/administration.css" type="text/css" />
    <link rel="stylesheet" href="/css/buttons.css" type="text/css" />
    
    <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.11.1.js"></script>
    <!--<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/js/ckeditor/adapters/jquery.js"></script>-->
    <script type="text/javascript" src="/js/ajax_upload/jquery.uploadfile.js"></script>
    <script type="text/javascript" src="/js/tinymce-jquery/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="/js/tinymce-jquery/tinymce.min.js"></script>
    <!--<script type="text/javascript" src="/js/info-administration.js"></script>-->
</head>
<body>
    <div id="wrapper">
        {% include 'administration/common/form-system.twig' with {'status': form.form_data} %}
        {%if(message)%}
            {{message}}
        {%endif%}
    </div>
</body>
</html>
{%endautoescape%}
