<link rel="stylesheet" href="/css/tabs-control.css" type="text/css" />
<script type="text/javascript" src="/js/info-settings.js"></script>
{# empty Twig template #}
<div id='divMenuTabs' class=''>
    <ul id='ulMenuTabsNav' class=''>
        {% set outIndex=1 %}
        {% set outDiv='' %}
        {% for ti in tabs %}
            <li><a class='' href='{{ti.url}}'>{{ti.title}}</a></li>
            {% set outIndex=outIndex+1 %}
        {%endfor%}
    </ul>
</div>
