<div class="video"> <!-- blogs start -->
<hr/>
    <span class="title">{{getCaptionInput('caption_video')}}</span>
    {% for item in data%}
    <div class="video-item">
        
        {# {{item.content_link|raw}} <iframe width="854" height="510" src="//www.youtube.com/embed/0hhzP2erJ4M" frameborder="0" allowfullscreen></iframe> 
        <iframe width="640" height="360" src="//www.youtube.com/embed/wxiX7udVskw?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
        #}
        <div class="video-text">
            <span class='about'>{{item.content_title}}</span><br/>
            <span class='date'>{{getDecodeDate(item.content_creates)}}</span>
            
        </div>
    </div>    
    {%endfor%}    
</div>

