<script type="text/javascript" src="/js/info-content.js"></script>
{%autoescape false%}
<!-- comments -->
<div class="article news">
    <div class="head">
        <span class="large"><a href="/cvideo_controller/detail/{{data.content_id}}">{{data.content_title}}</a></span><br>
            <span class="date">{{getDecodeDate(data.content_creates)}}</span>
    </div>
    <div class="text">
        {#<h4><a href="/blogs/detail/{{blogs.data.blogs_id}}">{{blogs.data.blogs_title}}</a></h4>#}
                {%if ((data.images_id)and(data.images_id!=0))%}
                    <a href="/cvideo_controller/detail/{{data.content_id}}" ><img src='/images_module/getImages/{{data.images_id}}/{{getVariable('image_width_left')}}/{{getVariable('image_height_120')}}' class='small'/></a>
                {%endif%}
        {#{%if((data.content_code) and (data.content_code!='-'))%}
            {{data.content_link|raw}}
        {%endif%}#}
        <a href="/cvideo_controller/detail/{{data.content_id}}">{{writeCuttingText(data.content_text,250)}}</a>
    </div>
</div>
{%endautoescape%}
{#<div class="comments-block">
    
    <div class="row top">
        <div class="col-lg-6">
        <h3 class="pull-left">{{comments.title}}</h3>
        <div class="comments pull-left"><a href="#">{{comments.counts}}</a></div>
        </div>
    </div>
    <hr/>
    {% for item in comments.data%}
        <div class="row comment">
            <div class="col-lg-6 no-padding">
                <div class="head">{{(item.comments_name)?item.comments_name:item.user_id}}<span class="date">&nbsp;{{getDecodeDate(item.comments_created)}}</span></div>
                <div class="text">
                    <p>{{item.comments_text}}</p>
                </div>
            </div>
        </div>
    {%endfor%}
</div>#}
<!-- end comments -->
