<!-- выведется в отдельный шаблон подгружаемый blkListProposal-->
{% set inPageByPagination = (pieses.listVideo.info.count_record//12)+1 %}
{% set inRecordByColumn = 6 %}
{% if (pieses.listVideo.property.isRun)%}
    <div class="row top-header">
        <div class="col-lg-6">
            <h2 class='pull-left'>{{pieses.listVideo.property.title}}</h2>
        </div>
    </div>
    <hr/>
    <div id='container_proposal'>
        {% if(pieses.listVideo.add.isRun)%}
            {{pieses.listVideo.add.form|raw}}
        {%endif%}
    </div>
    <div id='PagingRecord'>
        <div class="col-lg-3 article-list">
            {% for item in 0..inRecordByColumn-1 %}
                {%if(pieses.listVideo.data[item])%} 
                    {% include '/video/video-one-record-list.twig' with {'data': pieses.listVideo.data[item]}  %}
                {%endif%}
            {%endfor%}
        </div>
        <div class="col-lg-3 article-list">
            {% for item in 0..inRecordByColumn-1 %}
                {%if(pieses.listVideo.data[item+inRecordByColumn])%} 
                    {% include '/video/video-one-record-list.twig' with {'data': pieses.listVideo.data[item+inRecordByColumn]}  %}
                {%endif%}
            {%endfor%}
        </div>
    </div>
    <div class="row" style="width:680px;"></div>
{%endif%}
{% if (inPageByPagination>0)%}
        <nav class="page-navi">
            <ul class="pagination">
                <li><a href="#"><img src="/img/pagination-left-arrow.png" alt="" /></a></li>
                {%for i in 0..inPageByPagination-1%}
                    <li class='{{(page.active==(i+1))?'active':''}}'><a id='page_{{i+1}}' href="/{{getNameModule()}}/?page={{i+1}}">{{i+1}}</a></li>
                {%endfor%}
                <!--<li class="active"><a href="#">2</a></li>-->
                <li><a href="#"><img src="/img/pagination-right-arrow.png" alt="" /></a></li>
            </ul>
        </nav>
    {%endif%}            
<!-- выведется в отдельный шаблон подгружаемый blkListProposal -->
{#
<div class="row top-header">
        <div class="col-lg-6">
            <h2 class='pull-left'>{{pieses.listVideo.property.title}}</h2>
        </div>
    </div>
            
    <div id='container_proposal'>
        {% if(pieses.listVideo.add.isRun)%}
            {{pieses.listVideo.add.form|raw}}
        {%endif%}
    </div>
    <div id='PagingRecord'>
        <div class="col-lg-3 article-list">
            {% for item in 0..inRecordByColumn-1 %}
                {%if(pieses.listVideo.data[item])%} 
                    {% include '/video/video-one-record-list.twig' with {'data': pieses.listVideo.data[item]}  %}
                {%endif%}
            {%endfor%}
        </div>
        <div class="col-lg-3 article-list">
            {% for item in 0..inRecordByColumn-1 %}
                {%if(pieses.listVideo.data[item+inRecordByColumn])%} 
                    {% include '/video/video-one-record-list.twig' with {'data': pieses.listVideo.data[item+inRecordByColumn]}  %}
                {%endif%}
            {%endfor%}
        </div>
    </div>
        <div class="row" style="width:680px;">
           
        </div>
#}
