<script type="text/javascript" src="/js/info-content.js"></script>
<!-- comments -->
<div class="article news">
    <div class="head">
        <span class="large">{{data.content_title}}</span><br>
            <span class="date">{{getDecodeDate(data.content_creates)}}</span>
    </div>
    <div class="text">
        {#<h4><a href="/blogs/detail/{{blogs.data.blogs_id}}">{{blogs.data.blogs_title}}</a></h4>#}
        {#{{data.language_id}}#}
        {%if(data.content_link)%}
            {{data.content_link|raw}}
        {%else%}    
            {%if checkFileExists('/video/',data.content_file)%}
            <div class="video">
                <a href="/video/{{data.content_file}}" style="display: block; width: 672px; height: 465px;" id="player_content"></a>
                <script language="JavaScript">
                    flowplayer("player_content", "/js/flowplayer/flowplayer-3.2.2.swf", {clip: {autoPlay: false, autoBuffering: true}});
                    //flowplayer("player", {src : "/js/flowplayer/flowplayer-3.2.2.swf", wmode: "opaque"});
                </script>
            </div>
            {%endif%}
        {%endif%}
        
        {{data.content_text|raw}}
    </div>
</div>
{#<div class="comments-block">
    
    <div class="row top">
        <div class="col-lg-6">
        <h3 class="pull-left">{{comments.title}}</h3>
        <div class="comments pull-left"><a href="#">{{comments.counts}}</a></div>
        </div>
    </div>
    <hr/>
    {% for item in comments.data%}
        <div class="row comment">
            <div class="col-lg-6 no-padding">
                <div class="head">{{(item.comments_name)?item.comments_name:item.user_id}}<span class="date">&nbsp;{{getDecodeDate(item.comments_created)}}</span></div>
                <div class="text">
                    <p>{{item.comments_text}}</p>
                </div>
            </div>
        </div>
    {%endfor%}
</div>#}
<!-- end comments -->
