<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{page.property.title}}</title>
        <!-- Bootstrap -->
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/default_1.css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="/css/default.css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    </head>
    {%autoescape false%}
    <body class="bg-white">
        <div class="container work-size"> <!-- container start -->
            <div class="row bg-all-page-admin">
                {%if(sub_page_message)%}
                    {{sub_page_message}}
                {%endif%}    
                {%if (sub_page)%}
                    <div class="col-sm-5 col-sm-offset-4 top-margin-4">
                        {{sub_page}}
                    </div>
                {%else%}
                <div class="col-sm-9 div-header div-left">
                    {% if(page.menu)%}
                        {% for mi in page.menu %}
                            <a class="{{(mi.mi_class)?mi.mi_class: 'button-base orange'}} {{(mi.active)?'active':''}}" href="{{mi.mi_url}}" url="{{mi.mi_url}}">{{mi.mi_title_ru}}</a>
                        {% endfor%}
                    {%endif%}
                </div>
                <div class="col-sm-9 div-left div-top-work">
                    <div class='row'>
                        <div class="col-xs-3 cl-left-content">
                            {{page.content.left}}
                        </div>
                        <div class="col-xs-9">
                            {{page.content.right}}
                        </div>
                    </div>    
                </div>
                {%endif%}
            </div>
            <div class="row"> <!-- row start -->
                <div class="col-sm-12 div-footer-bottom">
                    {{page.property.copyright}}
                </div> <!-- footer-bottom end -->
            </div> <!-- row end -->
        </div>
    </body>
    {%endautoescape%}
</html>