<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/default_1.css">
        <link rel="stylesheet" href="/css/output-system.css">
        <link rel="stylesheet" href="/bootstrap-fileinput-master/css/fileinput.css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="/css/default.css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="/js/ajax_upload/jquery.uploadfile.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/info.common.js"></script>
        <script type="text/javascript" src="/bootstrap-fileinput-master/js/fileinput.js"></script>
        <script type="text/javascript" src="/bootstrap-fileinput-master/js/fileinput_locale_ru.js"></script>
        
    </head>
    {%autoescape false%}
    {%set miSubTree = initArray()%}
    <body class="bg-white">
        ddd
        <div class='div-header-admin'>
            {% if(page.menu)%}
                <div class="bs-example bs-navbar-top-example">
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
                        <div class="container-fluid">
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                              <a class="navbar-brand" href="#">Административная панель</a>
                            </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                            <ul class="nav navbar-nav">
                                {% for mi in page.menu %}
                                    <li class="{{(mi.mi_class)?mi.mi_class: 'button-base orange'}} {{(mi.active)?'active':''}}"><a class="" href="{{mi.mi_url}}" url="{{mi.mi_url}}">{{mi.mi_title_ru}}</a></li>
                                    {% if(mi.sub_tree)and(mi.active=='active')%}
                                        {%set miSubTree = mi.sub_tree%}
                                    {%endif%}
                                {% endfor%}
                            </ul>
                        </div><!-- /.navbar-collapse -->
                      </div>
                    </nav>
                  </div>
            {%endif%}
        </div>
        <div class="col-sm-9 div-left div-top-work-admin">
                    <div class='row'>
                        <div class="col-xs-3 cl-left-content-admin"> 
                            {%if (miSubTree)%}
{#                                <ul class='nav nav-pills nav-stacked'>#}
                                {%for submi in miSubTree%}
                                    {#<li class="{{submi.active}}"><a href="{{submi.mi_url}}" url="{{submi.mi_url}}" class="{{submi.active}}">{{submi.mi_title_ru}}</a></li>#}
                                    <a class='btn btn-sm btn-primary btn-block btn-text-color-01 {{submi.active}}' href="{{submi.mi_url}}" url="{{submi.mi_url}}" class="{{submi.active}}">{{submi.mi_title_ru}}</a>
                                {%endfor%}
                                {#</ul>#}
                            {%endif%}
                            {{page.content.left}}
                        </div>
                        <div class="col-xs-9">
                            {{page.content.right}}
                        </div>
                    </div>    
                </div>
    </body>
    {%endautoescape%}
</html>