<link rel="stylesheet" href="/css/output-system.css" type="text/css" />
<link rel="stylesheet" href="/css/forms.css" type="text/css" />
<script type="text/javascript" src="/js/info-settings.js"></script>
{% autoescape true %}
    <div class="forms-design">    
        <form id='{{form.form_property.name}}' name='{{form.form_property.name}}' method='{{form.form_property.method}}' action='{{form.form_property.action}}'>
            {% for control in form.form_data %}
                <div class='forms-item'>
                    {% if control.to_control %}
                        {% if (control.to_control.set_type=='a') %}
                            <a class='button-base green' id='{{control.to_control.set_name}}' href="" url="{{control.to_control.set_url}}">{{control.caption}}</a>
                        {%elseif (control.to_control.set_type=='select')%}
                        <label class='tittle'>{{control.caption}}</label>
                        <select id='{{control.to_control.set_name}}' name='{{control.to_control.set_name}}'>
                            {%for items_select in control.to_control.set_value%}
                                {#{%for item_select in items_select%}#}
                                <option value='{{items_select.value}}'>{{items_select.title}}</option>
                                {#{%endfor%}#}
                            {%endfor%}
                        </select>
                        {%elseif (control.to_control.set_type=='textarea')%}
                            <label class='tittle'>{{control.caption}}</label>
                            <textarea name="{{control.to_control.set_name}}" id="{{control.to_control.set_name}}" require="{{control.to_control.set_require}}">{{control.to_control.set_value|trim}}</textarea>
                        {%else%}
                            {% if (control.to_control.set_type!='hidden') %}
                                <label class='tittle'>{{control.caption}}</label>
                            {%endif%}    
                            <input type='{{control.to_control.set_type}}' name='{{control.to_control.set_name}}' id='{{control.to_control.set_name}}' require="{{control.to_control.set_require}}" value='{{control.to_control.set_value}}' />
                        {%endif%}
                    {% endif %}
                </div>
            {%endfor%}
        </form>
    </div>
{% endautoescape %}


