<link rel="stylesheet" href="/css/tabs-control.css" type="text/css" />
<script type="text/javascript" src="/js/info-settings.js"></script>
<div id='divSettingsTabs' class=''>
    <ul id='ulSettingsTabsNav' class=''>
        {% set outIndex=1 %}
        {% set outDiv='' %}
        {% for ti in data %}
            <li><a class='' href='{{ti.url}}'>{{ti.title}}</a></li>
            {% set outIndex=outIndex+1 %}
        {%endfor%}
    </ul>
</div>
