@font-face {
	font-family: "Arial Bold";
	src: url("arial-bold.eot");
	src: url("arial-bold.eot#iefix") format("embedded-opentype"),
	url("arial-bold.woff") format("woff"),
	url("arial-bold.ttf") format("truetype"),
	url("arial-bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
