{%for item in data%}
    {%if(item.proposal_id)%}
        <div class="col-lg-2">
            <span class="title"><a id='detail-proposal-{{item.proposal_id}}' href="/proposal/detail/{{item.proposal_id}}">{{item.proposal_title}}</a></span>
            <span class="about">{{writeCuttingText(item.proposal_text,100)|raw}}</span>
            <span class="porposal_sub_title">{{getDecodeDate(item.proposal_date)|raw}}</span>
        </div>
    {%endif%}
{%endfor%}