{# empty Twig template #}
<div class="blogs"> <!-- blogs start -->
<hr>
<span class="title">База данных</span>
<span class="title">{{data.proposal_title}}</span>
{%if(data.data)%}
    {% for di in data.data%}
        <div class="blog">
            {% if (di.images_id)%}
                <img src="{{getImagesForElement(di.images_id)}}" alt="">
            {%endif%}
            <div class="text">
                <span class="name">{{di.user_name|raw}}<br></span>
                <span class="info">{{{{writeCuttingText(di.proposal_title,250)|raw}}</span>
            </div>
        </div>
    {%endfor%}
{%else%}
    Заявок нет.
{%endif%}
</div> <!-- blogs end -->
  