{%autoescape false%}
<div class="article news">
    <div class="head">
        <span class="small"><a id='detail-proposal-{{data.proposal_id}}' href="/proposal/detail/{{data.proposal_id}}">Заявка {{data.proposal_id}}</a></span>
        <span class="name"><a id='detail-proposal-{{data.proposal_id}}' href="/proposal/detail/{{data.proposal_id}}">{{data.proposal_name}}</a></span>
        <span class="date">{{data.proposal_date}}</span>
    </div>
    <div class="text">
        <h4><a id='detail-proposal-{{data.proposal_id}}' href="/proposal/detail/{{data.proposal_id}}">{{data.proposal_title}}</a></h4>
        {%if(data.detail)%}
            <a id='detail-proposal-{{data.proposal_id}}' href="/proposal/detail/{{data.proposal_id}}">{{data.cut_text}}</a>
        {%else%}
            <a id='detail-proposal-{{data.proposal_id}}' href="/proposal/detail/{{data.proposal_id}}">{{writeCuttingText(data.proposal_text,250)}}</a>
        {%endif%}
    </div>
    <div class='bottom'>
        <div class='status pull-left'>Статус: <span class='done'>{{(data.proposal_resolved==1)?'выполнено':'ожидание'}}</span></div>
        <div class='comments pull-right'><a id='detail-proposal-{{data.proposal_id}}' href="/proposal/detail/{{data.proposal_id}}">{{data.proposal_count}}</a></div>
    </div>
</div>
{%endautoescape%}
