<script type="text/javascript" src="/js/info-proposal.js"></script>
<!-- comments -->
{%autoescape false%}
<div class="article news">
    <div class="head">
            <span class="small"><a href="#">Заявка {{proposal.data.proposal_id}}</a></span>
            <span class="name"><a href="#">{{proposal.data.proposal_name}}</a></span>
            <span class="date">{{getDecodeDate(proposal.data.proposal_date)}}</span>
    </div>
    <div class="text">
        <h4><a href="#">{{proposal.data.proposal_title}}</a></h4>
            {{proposal.data.proposal_text}}
    </div>
</div>
<div class="comments-block">
    
    <div class="row top">
        <div class="col-lg-6">
        <h3 class="pull-left">{{comments.title}}</h3>
        <div class="comments pull-left"><a href="#">{{comments.counts}}</a></div>
        </div>
    </div>
    <hr/>
    {% for item in comments.data%}
        <div class="row comment">
            <div class="col-lg-6 no-padding">
                <div class="head">{{(item.comments_name)?item.comments_name:item.user_id}}<span class="date">&nbsp;{{getDecodeDate(item.comments_created)}}</span></div>
                <div class="text">
                    <p>{{item.comments_text}}</p>
                </div>
            </div>
        </div>
    {%endfor%}
    <div class="row add-comment">
        <h3>{{getCaptionInput('caption_comments')}}</h3>
        <form action="/proposal/save_comments" class="clearfix" id="frmSaveComments" method='post'>
            
            <input name='proposal_id' type="hidden" value="{{proposal.data.proposal_id}}"/>
            <input name='language_id' type="hidden" value="1"/>
            <input name='comments_created' type="hidden" value="{{getDate()}}"/>
            <input name='comments_name' id='comments_name' type="text" placeholder="Введите Ваше имя" />
            <textarea name='comments_text' id='comments_text' cols="30" rows="10" placeholder="Введите Ваш комментарий"></textarea>
            <div class="captcha pull-left clearfix">
                <div class="image pull-left"><img src="/img/captcha-image.jpg" alt="" /></div>
                <input type="text" name="edtCaptcha" id="edtCaptcha" placeholder="Введите код с картинки" />
            </div>
            <input type="button" id='btnSaveComments' value="Оставить комментарий" class="pull-right" />
        </form>
    </div>
</div>
{%endautoescape%}
<!-- end comments -->