<ul class="drop-menu  list-inline"> <!-- drop-menu start -->
    {% for mi in menu %}
        <li {{(mi.sub_tree)?'class="hover-menu"':''}}>
            <a href="{{mi.mi_url}}" url="{{mi.mi_url}}" class="{{mi.active}}">{{mi.mi_title}}</a>
            {% if(mi.sub_tree)%}
                <ul class="fallback">
                {% for submi in mi.sub_tree %}
                    <li class="{{(submi.mi_class)?submi.mi_class:''}}"><a href="{{submi.mi_url}}" url="{{submi.mi_url}}" class="{{submi.active}}">{{submi.mi_title}}</a></li>
                {%endfor%}
                </ul>
            {%endif%}
        </li>
    {% endfor %}
</ul> <!-- drop-menu end -->