<script type="text/javascript" src="/js/info-question.js"></script>
<!-- comments -->
<div class="article news">
    <div class="head">
            <span class="small"><a href="#">Заявка {{question.data.question_id|raw}}</a></span>
            <span class="name"><a href="#">{{question.data.question_name|raw}}</a></span>
            <span class="date">{{getDecodeDate(question.data.question_date|raw)}}</span>
    </div>
    <div class="text">
        <h4><a href="#">{{question.data.question_title}}</a></h4>
            {{question.data.question_text|raw}}
    </div>
</div>
<div class="comments-block">
    
    <div class="row top">
        <div class="col-lg-6">
        <h3 class="pull-left">{{comments.title}}</h3>
        <div class="comments pull-left"><a href="#">{{comments.counts}}</a></div>
        </div>
    </div>
    <hr/>
    {% for item in comments.data%}
        <div class="row comment">
            <div class="col-lg-6 no-padding">
                <div class="head">{{(item.comments_name)?item.comments_name:item.user_id}}<span class="date">&nbsp;{{getDecodeDate(item.comments_created)}}</span></div>
                <div class="text">
                    <p>{{item.comments_text}}</p>
                </div>
            </div>
        </div>
    {%endfor%}
    <div class="row add-comment">
        <h3>{{getCaptionInput('caption_comments')}}</h3>
        <form action="/question/save_comments" class="clearfix" id="frmSaveComments" method='post'>
            
            <input name='question_id' type="hidden" value="{{question.data.question_id}}"/>
            <input name='language_id' type="hidden" value="{{question.data.language_id}}"/>
            <input name='comments_created' type="hidden" value="{{getDate()}}"/>
            <input name='comments_name' id='comments_name' type="text" placeholder="{{getCaptionInput('ph_inputname')}}" />
            <textarea name='comments_text' id='comments_text' cols="30" rows="10" placeholder="{{getCaptionInput('ph_inputcomments')}}"></textarea>
            <div class="captcha pull-left clearfix">
                <div class="image pull-left">{{getCaptcha()|raw}}</div>
                <input type="text" name="edtCaptcha" id="edtCaptcha" placeholder="{{getCaptionInput('ph_inputcaptcha')}}" />
            </div>
            <input type="submit" id='btnSaveComments' value="{{getCaptionInput('ph_putcomments')}}" class="pull-right" />
        </form>
    </div>
</div>
<!-- end comments -->