{# empty Twig template #}
<div class="blogs"> <!-- blogs start -->
<hr/>
    <span class="title">{{getCaptionInput('caption_blogs')}}</span>
    {% for di in data.data%}
    <div class="blog">
        {%if(di.images_id)%}
            <img src="/images_module/getImages/{{di.images_id}}/60/60" alt=""/>
        {%endif%}
        <div class="text">
          <span class="name">{{di.blogs_name|raw}}<br></span>
          <span class="info">
              {%if(di.blogs_id)%}
                    <a id='detail-blogs-{{di.blogs_id}}' href="/blogs/detail/{{di.blogs_id}}">{{writeCuttingText(di.blogs_title,250)}}</a>
              {%else%}  
                  <h3>{{di.blogs_title}}</h3>
              {%endif%}
          </span>
        </div>
      </div>
    {%endfor%}    
</div>