<!-- выведется в отдельный шаблон подгружаемый blkListProposal-->
{% if (pieses.listBlogs.property.isRun)%}
    <div class="row top-header">
        <div class="col-lg-6">
            <h2 class='pull-left'>{{pieses.listBlogs.property.title}}</h2>
            {#<a href="/proposal/add" id="btnAddProposal" class="add-article-link pull-left">{{getCaptionInput('button_proposal_add')}}</a>#}
        </div>
    </div>
    <hr/>        
    <div id='container_proposal'>
        {% if(pieses.listBlogs.add.isRun)%}
            {{pieses.listBlogs.add.form|raw}}
        {%endif%}
    </div>
    <div id='PagingRecord'>
        {% set inPageByPagination = (pieses.listBlogs.info.count_record // 12)+1 %}
        {% set inRecordByColumn = 6 %}
        <div class="col-lg-3 article-list">
            {% for item in 0..inRecordByColumn-1 %}
                {%if(pieses.listBlogs.data[item])%} 
                    {% include '/blogs/blogs-one-record.twig' with {'data': pieses.listBlogs.data[item]}  %}
                {%endif%}
            {%endfor%}
        </div>
        <div class="col-lg-3 article-list">
            {% for item in 0..inRecordByColumn-1 %}
                {%if(pieses.listBlogs.data[item+inRecordByColumn])%} 
                    {% include '/blogs/blogs-one-record.twig' with {'data': pieses.listBlogs.data[item+inRecordByColumn]}  %}
                {%endif%}
            {%endfor%}
        </div>
    </div>
        <div class="row" style="width:680px;">
           
        </div>
    {% if (inPageByPagination>0)%}
        <nav class="page-navi">
            <ul class="pagination">
                <li><a href="#"><img src="/img/pagination-left-arrow.png" alt="" /></a></li>
                {%for i in 1..inPageByPagination%}
                    <li class='{{(page.active==i)?'active':''}}'><a id='page_{{i}}' href="/{{getNameModule()}}/?page={{i}}">{{i}}</a></li>
                {%endfor%}
                <!--<li class="active"><a href="#">2</a></li>-->
                <li><a href="#"><img src="/img/pagination-right-arrow.png" alt="" /></a></li>
            </ul>
        </nav>
    {%endif%}        
{%endif%}
<!-- выведется в отдельный шаблон подгружаемый blkListProposal -->
