<div class="article news">
    <div class="head">
        <span class="small">
            <a href="/blogs/CategoryDetail/{{data.blogs_id}}">{{data.cblogs_title}}</a>
        </span>
        <span class="date">{{getDecodeDate(data.blogs_creates)}}</span>
    </div>
    <div class="text">
        <h4><a id='detail-blogs-{{data.blogs_id}}' href="/blogs/detail/{{data.blogs_id}}">{{data.blogs_title}}</a></h4>
        {%if(data.detail)%}
            <a id='detail-blogs-{{data.blogs_id}}' href="/blogs/detail/{{data.blogs_id}}">{{data.cut_text}}</a>
        {%else%}
            <a id='detail-blogs-{{data.blogs_id}}' href="/blogs/detail/{{data.blogs_id}}">{{writeCuttingText(data.blogs_text,250)|raw}}</a>
        {%endif%}
    </div>
    <div class='comments pull-right'><a id='detail-blogs-{{data.blogs_id}}' href='/blogs/detail/{{data.blogs_id}}'>{{data.blogs_count}}</a></div>
</div>
