{# empty Twig template #}
{%if(data)%}
    <div class='block-01'>
        {%for item in data%}
            <h2>{{item.title}}</h2>
            {%if (item.sub_tree)%}
                <ul>
                {%for subitem in item.sub_tree%}
                    <li><a href='{{subitem.url}}'>{{subitem.title}}</a></li>
                {%endfor%}
                </ul>
            {%endif%}
        {%endfor%}
    </div>
{%else%}
    
{%endif%}
