{# empty Twig template #}
{%if(data)%}
    <div class='block-01'>
        {%if(property.title)%}
            <h2>{{property.title}}</h2>
        {%endif%}    
        {%if(data)%}
            <ul>
                {%for item in data%}
                    <li class="text-lg text-height-01 {{item.active}}">
                        <img src='/images_module/getImages/{{item.images_id}}/40/40/1'/>
                        <span class='text-lg'><a href='{{item.url}}load/{{item.value}}'>{{item.title}}</a></span>
                    </li>
                    {%if (item.sub_tree)%}
                        <ul>
                        {%for subitem in item.sub_tree%}
                            <li>
                                <a href='{{subitem.url}}'>{{subitem.title}}</a>
                            </li>
                        {%endfor%}
                        </ul>
                    {%endif%}
                {%endfor%}
            </ul>
        {%endif%}
    </div>
{%else%}
    
{%endif%}
