{# empty Twig template #}
{% if (status=='start')%}
    <div class="login-form"> <!-- login-form start -->
      <form>
        <input type="text" id='edtLogin' placeholder="логин" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'логин'">
      </form>
    </div> <!-- login-form end -->
    <div class="password-form"> <!-- password-form start -->
      <form class="form-password">
        <input type="password" id='edtPassword' placeholder="пароль" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'пароль'" >
        <input type="submit" id='btnAutorizationSubmit'/>
      </form>
    </div> <!-- password-form end -->
{%else%}
    <a href="#userLogOut" id="btnUserLogOut">{{status}}</a>
{% endif%}

