<link rel="stylesheet" href="/css/output-system.css" type="text/css" />
{%autoescape false%}
    <div class="article news">
        <div class="head">
            <span class="small"><a id='detail-question-{{data.question_id}}' href="/question/detail/{{data.question_id}}">Заявка {{data.question_id}}</a></span>
            <span class="name"><a id='detail-question-{{data.question_id}}' href="/question/detail/{{data.question_id}}">{{data.question_name|raw}}</a></span>
            <span class="date">{{data.question_date}}</span>
        </div>
        <div class="text">
            <h4><a id='detail-question-{{data.question_id}}' href="/question/detail/{{data.question_id}}">{{data.question_title|raw}}</a></h4>
            {%if(data.detail)%}
                <a id='detail-question-{{data.question_id}}' href="/question/detail/{{data.question_id}}">{{writeCuttingText(data.cut_text,200)|raw}}</a>
            {%else%}
                <a id='detail-question-{{data.question_id}}' href="/question/detail/{{data.question_id}}">{{writeCuttingText(data.question_text,200)|raw}}</a>
            {%endif%}
        </div>
        <div class='bottom'>
            <div class='status pull-left'>Статус: <span class='done'>{{(data.question_resolved==1)?'выполнено':'ожидание'}}</span></div>
            <div class='comments pull-right'><a id='detail-question-{{data.question_id}}' href="/question/detail/{{data.question_id}}">{{data.question_count|raw}}</a></div>
        </div>
    </div>
{%endautoescape%}    
