{# empty Twig template #}
<div class="blogs"> <!-- blogs start -->
<hr>
<span class="title">Попросисть связаться</span>
{#<span class="title">{{data.ask_to_contact_title}}</span>
{%if(data.data)%}
    {% for di in data.data%}
        <div class="blog">
            {% if (di.images_id)%}
                <img src="{{getImagesForElement(di.images_id)}}" alt="">
            {%endif%}
            <div class="text">
                <span class="name">{{di.user_name|raw}}<br></span>
                <span class="info">{{di.ask_to_contact_title|raw}}</span>
            </div>
        </div>
    {%endfor%}
{%else%}
    Заявок нет.
{%endif%}
#}
</div> <!-- blogs end -->
  