<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Документ без названия</title>
<style type="text/css">
<!--
.comment {
background-color:#CCCCCC;
margin: 0 auto;
width:500px;
padding-top: 5px;
}
.forms-item {
    display: block;
    width: 100%;
    //height: 200px;
    //border:1px #a1b3a1 dotted;
    //padding-left: 5px;
	
	
}
.tittle {
    font-weight: bold;
    width: 100%;
    display: block;
    color: black;
    margin-left: 10px;
}
.out_text {
border: 3px #FFFFFF solid;
margin-top:5px;
width: 95%;
display: block;
margin: 0 auto;
}
-->
</style>
</head>
<body>
<div class="comment">
<div class="forms-item">
    <label class="tittle">Заголовок обращения</label>
    <span class='out_text'>Свяжитесь со мной</span>
</div>
<div class="forms-item">
    <label class="tittle">Текст обращения</label>
    <span class='out_text'>{{data.ask_to_contact_text}}</span>
</div>
<div class="forms-item">
    <label class="tittle">Ф.И.О</label>
    <span class='out_text'>{{data.ask_to_contact_name}}</span>
</div>
<div class="forms-item">
    <label class="tittle">Телефон</label>
    <span class='out_text'>{{data.ask_to_contact_phone}}</span>
</div>
<div class="forms-item">
  <label class="tittle">e-mail</label>
  <span class='out_text'>{{data.ask_to_contact_email}}</span>
</div>
<div class="forms-item">
    <label class="tittle">Дата и время запроса</label>
    <span class='out_text'>{{data.ask_to_contact_date}}</span>
</div>
<br /><br />
</div>


</body>
</html>
