<div class="article news">
    <div class="head">
        <span class="small"><a id='detail-ask_to_contact-{{data.ask_to_contact_id}}' href="/ask_to_contact/detail/{{data.ask_to_contact_id}}">Заявка {{data.ask_to_contact_id}}</a></span>
        <span class="name"><a id='detail-ask_to_contact-{{data.ask_to_contact_id}}' href="/ask_to_contact/detail/{{data.ask_to_contact_id}}">{{data.ask_to_contact_name}}</a></span>
        <span class="date">{{data.ask_to_contact_date}}</span>
    </div>
    <div class="text">
        <h4><a id='detail-ask_to_contact-{{data.ask_to_contact_id}}' href="/ask_to_contact/detail/{{data.ask_to_contact_id}}">{{data.ask_to_contact_title}}</a></h4>
        {%if(data.detail)%}
            <a id='detail-ask_to_contact-{{data.ask_to_contact_id}}' href="/ask_to_contact/detail/{{data.ask_to_contact_id}}">{{data.cut_text}}</a>
        {%else%}
            <a id='detail-ask_to_contact-{{data.ask_to_contact_id}}' href="/ask_to_contact/detail/{{data.ask_to_contact_id}}">{{data.ask_to_contact_text}}</a>
        {%endif%}
    </div>
    <div class='bottom'>
        <div class='status pull-left'>Статус: <span class='done'>{{(data.ask_to_contact_resolved==1)?'выполнено':'ожидание'}}</span></div>
        <div class='comments pull-right'><a id='detail-ask_to_contact-{{data.ask_to_contact_id}}' href="/ask_to_contact/detail/{{data.ask_to_contact_id}}">{{data.ask_to_contact_count}}</a></div>
    </div>
</div>
