<div class="video"> <!-- video start -->
    <hr>
    <span class="title">Видео</span>
    <div class="video-item">
        <img src="img/video.png" alt="">
        <div class="video-text">
            <span class="date">08.11.2014 12:09
            </span>
            <span class="about">Навздогін Хелловіну:
            чортова дюжина
            моторошних фото- графій</span>
        </div>
    </div>
</div> <!-- video end  -->
