<div class="content-video col-lg-4"> <!-- content-video start -->
    <div  style="width:650px;">
        {%if checkFileExists('/video/',data.data.content_file)%}
            <div class="video">
                <a href="/video/{{data.data.content_file}}" style="display: block; width: 672px; height: 465px;" id="player_content"></a>
                <script language="JavaScript">
                    flowplayer("player_content", "/js/flowplayer/flowplayer-3.2.2.swf", {clip: {autoPlay: false, autoBuffering: true}});
                    //flowplayer("player", {src : "/js/flowplayer/flowplayer-3.2.2.swf", wmode: "opaque"});
                </script>
            </div>
	{%else%}
            {%if (data.data.content_link)%}
                    {{data.data.content_link|raw}}
            {%endif%}
        {%endif%}
        
        <span class="title">{{data.data.content_title}}</span><br>
        <span class="date">{{getDecodeDate(data.data.content_creates)}}</span>
        <p class="sub-title">{{data.data.content_text|raw}}</p>
    </div>
    <div class="share42init"></div>
    <script type="text/javascript" src="/js/share42/share42.js"></script>
</div> <!-- content-video end -->
<!-- <iframe width="854" height="510" src="//www.youtube.com/embed/K61RH8Ga4M8" frameborder="0" allowfullscreen></iframe> -->
