<div class="row"> <!-- row start -->
    <div class="slider col-lg-6">
      <!-- <ul class="slider-top">
        <li><img src="img/slider-top.jpg" /></li>
        <li><img src="img/slider-top.jpg" /></li>
      </ul> -->
        <div class="carousel-image" id="carousel-top">
          <div class="item"><img src="img/slider-top.jpg" alt=""></div>
          <div class="item"><img src="img/slider-top.jpg" alt=""></div>
        </div>
    </div> <!-- slider end -->
</div> <!-- row end -->
